.title .bolder {
    font-size: 2.625rem;
}

.title p {
    font-size: 1.25rem;
}

.ticket-name .tkit-coral-color {
    border: 1px solid #ed7f81;
    border-radius: 2px;
    padding: 0 1rem;
    font-size: 1rem;
}

.ticket-name .name {
    font-size: 1.25rem;
}