<div *ngIf="place">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{place.name}}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <br />
          <div class="stats">
            <span *ngIf="place.enabled" class="label label-success">enabled</span>
            <span *ngIf="!place.enabled" class="label label-danger">disabled</span>
          </div>
          <br>
          <ul *ngIf="!edit_mode" class="list-group">
            <!-- <li class="list-group-item"><strong>ID: </strong>{{place._id}}</li> -->
            <li class="list-group-item"><strong>이름: </strong>{{place.name}}</li>
            <li class="list-group-item"><strong>휴대폰: </strong>{{place.mobile_number}}</li>
            <li class="list-group-item"><strong>영역: </strong>{{place.area}}</li>
            <li class="list-group-item"><strong>번호: </strong>{{place.number}}</li>
            <li class="list-group-item"><strong>체크인 일시: </strong>{{place.updated_at | amFromUnix | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</li>
          </ul>
          <div *ngIf="edit_mode" class="edit">
            <div class="input-group">
              <ui-switch [(ngModel)]="place.enabled" (ngModelChange)="changeEnabled()"></ui-switch>
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">이름</span>
              <input type="text" class="form-control" [(ngModel)]="place.name" name="name">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">휴대폰</span>
              <input type="text" class="form-control" [(ngModel)]="place.mobile_number" name="mobile_number">
            </div>
            <br>
            <div class="form-group">
              <label for="area">영역</label>
              <select class="form-control" name="area" [(ngModel)]="place.area" [disabled]="!place.enabled">
                <ng-container *ngFor="let a of areas">
                  <option [ngValue]="a">{{a}}</option>
                </ng-container>
              </select>
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">번호</span>
              <input type="text" class="form-control" [(ngModel)]="place.number" name="number" [disabled]="!place.enabled">
            </div>
            <br>
          </div>
        </div>
        <div class="col-md-2">
          <button *ngIf="!edit_mode" type="button" class="btn btn-default" (click)="onEdit()">수정</button>
          <button *ngIf="edit_mode" type="button" class="btn btn-default" (click)="onSave()">저장</button>
          <a *ngIf="edit_mode" (click)="onCancel()">취소</a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="error" class="row">
    <div class="col-md-6">
      <div class="alert alert-danger" role="alert">
        <strong>에러</strong> 중복되는 체크인입니다.
      </div>
    </div>
  </div>

</div>
