<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1>헬로! 티킷 호스트 (TKIT Host)</h1>
      <h2>여러분의 행사를 성공시킬 효과적인 방법</h2>
      <p>The efficient way to success your events</p>
      <p><a routerLink="/login" class="btn btn-tkit btn-lg" role="button">티킷 호스트 시작하기</a></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <!-- <img src="..." alt="..."> -->
      <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
      <div class="caption">
        <h3>Tracking every ticket</h3>
        <p>We track every single ticket. You can see which people like which events you like and prevent illegal sales of tickets.</p>
        <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <!-- <img src="..." alt="..."> -->
      <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
      <div class="caption">
        <h3>Easy to use</h3>
        <p>Users can easily send or receive tickets. Organizers can easily make tickets and distribute them.</p>
        <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <!-- <img src="..." alt="..."> -->
      <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
      <div class="caption">
        <h3>Reward</h3>
        <p>Anyone can sell tickets and receive commissions through sales.</p>
        <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
      </div>
    </div>
  </div>
</div>
