@charset 'utf-8';

.u-bottom {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1030;
}

.u-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    background: black;
}

.u-close {
    float: right;
    margin-top: 6rem;
    margin-right: 2rem;
    opacity: 1;
}

.u-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.u-container {
    width: 100%;
    text-align: center;
    margin: auto 0 0 0;
    padding: 0;
}

.u-content {
    margin-top: 10rem;
    background-color: white;
    border-radius: 5px 5px 0 0;
}