language: node_js

node_js:
  - "6.9.1"

before_script:
  - wget https://sourceforge.net/projects/s3tools/files/s3cmd/2.0.1/s3cmd-2.0.1.tar.gz
  - tar xzf s3cmd-2.0.1.tar.gz
  - cd s3cmd-2.0.1
  - sudo python setup.py install
  - cd ..
  - npm install -g @angular/cli

branches:
  only:
    - dev
    
script:
  - ng build --dev --aot
  - s3cmd sync --access_key $S3_ACCESS_KEY --secret_key $S3_SECRET_KEY --cf-invalidate --cf-invalidate-default-index -r -P dist/* s3://devhost.tkit.me

notifications:
  slack:
    rooms:
	  - tkitme:YP4HX1luJf4x8QmXwqlVmnPv@i_am_kevin
	  - tkitme:YP4HX1luJf4x8QmXwqlVmnPv@Roomy
    