<div class="row">
  <div class="col-md-6 col-sm-6">
    <select class="form-control" [(ngModel)]="content_oid" (ngModelChange)="changeContent()">
      <ng-container *ngFor="let c of contents">
        <option [ngValue]="c._id">{{c.name}} ({{c.company.name}})</option>
      </ng-container>
    </select>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-3 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">전체 티켓수</h3>
      </div>
      <div class="panel-body">
        <h1>{{total_ticket_count}} <small>장</small></h1>
        <!--<span class="label label-default">565명 초대권 대상자</span>
        <span class="label label-primary">365명 방문객</span>-->
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">전체 회사수</h3>
      </div>
      <div class="panel-body">
        <h1>{{total_company_count}} <small>사</small></h1>
        <!--<span class="label label-warning">26세 여자</span>
        <span class="label label-info">29세 남자</span>-->
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">전체 사용자수</h3>
      </div>
      <div class="panel-body">
        <h1>{{total_user_count}} <small>명</small></h1>
        <!--<span class="label label-success">1,730,000원 현금</span>
        <span class="label label-danger">960,000원 신용카드</span>-->
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">전체 컨텐츠수</h3>
      </div>
      <div class="panel-body">
        <h1>{{total_content_count}} <small>개</small></h1>
        <!--<span class="label label-success">1,730,000원 현금</span>
        <span class="label label-danger">960,000원 신용카드</span>-->
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">전체 성별비율</h3>
      </div>
      <div class="panel-body">
        <chart [type]="type" [data]="data" [options]="options"></chart>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">전체 연령비율</h3>
      </div>
      <div class="panel-body">
        <chart [type]="type2" [data]="data2" [options]="options2"></chart>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">인기 컨텐츠 Top 5</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item"><span class="badge">862000</span>울트라 뮤직 페스티벌 2017</li>
          <li class="list-group-item"><span class="badge">41000</span>레인보우 아일랜드 2017</li>
          <li class="list-group-item"><span class="badge">3200</span>펜타포트 2017</li>
          <li class="list-group-item"><span class="badge">1100</span>하이네켄 스타리엄 2017</li>
          <li class="list-group-item"><span class="badge">985</span>워터밤 2017</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
    <p class="text-right">
       TKIT - Admin by <a href="http://rjkorea.com">RJ Korea Entertainment</a>
    </p>
  </div>
</div>
