.list-group {
  list-style: decimal inside;
}

.list-group-item {
  display: list-item;
}

.list-group li {
  border: 0 none;
}

.badge-danger {
  background-color: #D9534F;
}

.badge-info {
  background-color: #5AC0DF;
}

.badge-success {
  background-color: #5BB75B;
}

.badge-primary {
  background-color: #337AB7;
}

.glyphicon-arrow-up {
  color: red;
}

.glyphicon-arrow-down {
  color: blue;
}

.glyphicon-minus {
  color: grey;
}

.suggest-list {
  position: absolute;
  padding: 10px;
  background: white;
  border: 1px solid black;
  z-index: 1000;
  margin: 0;
}

.suggest-content {
  cursor: pointer;
  margin: 2px 0;
}
