<div *ngIf="is_loading">
  <app-loader></app-loader>
</div>
<div *ngIf="!is_loading">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <select class="form-control" [(ngModel)]="content_oid" (ngModelChange)="changeContent()">
        <ng-container *ngFor="let c of contents">
          <option [ngValue]="c._id">{{c.name}} ({{c.company.name}})</option>
        </ng-container>
      </select>
    </div>
  </div>
  <br>

  <ng-template [ngIf]="!content_oid && (authService.getRole()==='super' || authService.getRole()==='admin')">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">전체 사용자</h3>
          </div>
          <div class="panel-body">
            <h1>{{(total_user_count) | number: '0.0-0'}} <small>명</small></h1>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">지난달 성장율 (MNU)</h3>
          </div>
          <div class="panel-body">
            <h1>{{((monthly_new_users_chart.data.datasets[0].data[10]-monthly_new_users_chart.data.datasets[0].data[9])/monthly_new_users_chart.data.datasets[0].data[9])*100 | number: '0.0-0'}} <small>%</small></h1>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">전체 티켓</h3>
          </div>
          <div class="panel-body">
            <h1>
              {{total_ticket_count | number: '0.0-0'}}
              <small>장</small>
            </h1>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">전체 컨텐츠</h3>
          </div>
          <div class="panel-body">
            <h1>{{total_content_count | number: '0.0-0'}} <small>개</small></h1>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">월별 신규 사용자 (Monthly New Users)</h3>
          </div>
          <div class="panel-body">
            <chart [type]="monthly_new_users_chart.type" [data]="monthly_new_users_chart.data" [options]="monthly_new_users_chart.options"></chart>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">전체 티켓현황</h3>
          </div>
          <div class="panel-body">
            <chart [type]="ticket_count_chart.type" [data]="ticket_count_chart.data" [options]="ticket_count_chart.options"></chart>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">전체 성별비율</h3>
          </div>
          <div class="panel-body">
            <chart [type]="total_gender_chart.type" [data]="total_gender_chart.data" [options]="total_gender_chart.options"></chart>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">전체 회사</h3>
          </div>
          <div class="panel-body">
            <h1>{{total_company_count | number: '0.0-0'}} <small>사</small></h1>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template [ngIf]="content_oid">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">매출</h3>
          </div>
          <div class="panel-body">
            <h1>{{revenue.amount | currency: 'KRW': true: '0.0-0'}} <small>원</small></h1>
            <span class="label label-primary">{{revenue.count | number: '0.0-0'}} 건</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">발권티켓</h3>
          </div>
          <div class="panel-body">
            <h1>{{(ticket_count.pend+ticket_count.send+ticket_count.register+ticket_count.pay+ticket_count.use+ticket_count.cancel) | number: '0.0-0'}} <small>장</small></h1>
            <span class="label label-default">{{ticket_count.pend | number: '0.0-0'}} 전송대기</span>
            <span class="label label-warning">{{ticket_count.send | number: '0.0-0'}} 전송중</span>
            <span class="label label-danger">{{ticket_count.cancel | number: '0.0-0'}} 취소</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">등록율</h3>
          </div>
          <div class="panel-body">
            <h1 *ngIf="ticket_count.register>0">{{(((ticket_count.register+ticket_count.pay+ticket_count.use)/(ticket_count.send+ticket_count.register+ticket_count.pay+ticket_count.use))*100).toString() | slice:0:4}} <small>%</small></h1>
            <h1 *ngIf="ticket_count.register===0 && ticket_count.pay===0 && ticket_count.use===0">0 <small>%</small></h1>
            <span class="label label-warning">{{ticket_count.send | number: '0.0-0'}} 전송중</span>
            <span class="label label-success">{{ticket_count.register | number: '0.0-0'}} 등록완료</span>
            <span class="label label-primary">{{ticket_count.pay | number: '0.0-0'}} 결제완료</span>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
      <p class="text-right">
        TKIT - Host by <a href="http://rjkorea.com">RJ Korea Entertainment</a>
      </p>
    </div>
  </div>
</div>
