<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/home">
        <img class="brand-logo" alt="Brand" src="assets/images/logo.png">
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li *ngIf="authService.loggedIn()"><a routerLink="/home" routerLinkActive="active" data-toggle="collapse">Home</a></li>
        <li *ngIf="authService.loggedIn() && authService.getRole() == 'super'" class="dropdown">
          <a href="#" class="dropdown-toggle" routerLinkActive="active"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/admin" data-toggle="collapse">Admin</a></li>
            <li><a routerLink="/user" data-toggle="collapse">User</a></li>
          </ul>
        </li>
        <li *ngIf="authService.loggedIn() && authService.getRole() == 'super'"><a routerLink="/content" routerLinkActive="active" data-toggle="collapse">Content</a></li>
        <li *ngIf="authService.loggedIn() && authService.getRole() == 'super'" class="dropdown">
          <a href="#" class="dropdown-toggle" routerLinkActive="active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ticket <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/ticket/type" data-toggle="collapse">Type</a></li>
            <li><a routerLink="/ticket/order" data-toggle="collapse">Order</a></li>
            <li><a routerLink="/ticket" data-toggle="collapse">Ticket</a></li>
          </ul>
        </li>
        <li *ngIf="authService.loggedIn() && authService.getRole() == 'super'"><a routerLink="/entrance" routerLinkActive="active" data-toggle="collapse">Entrance</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!authService.loggedIn()"><a routerLink="/login" routerLinkActive="active" data-toggle="collapse">Login</a></li>
        <li *ngIf="!authService.loggedIn()"><a routerLink="/signup" routerLinkActive="active" data-toggle="collapse">Signup</a></li>
        <li *ngIf="authService.loggedIn() && authService.getRole() == 'super'" class="dropdown">
          <a href="#" class="dropdown-toggle" routerLinkActive="active"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{getUserName()}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/profile', getUserId()]" data-toggle="collapse">Profile</a></li>
            <li *ngIf="authService.loggedIn()"><a routerLink="/login" (click)="authService.logout()">Logout</a></li>
          </ul>
        </li>
      </ul>

    </div><!--/.nav-collapse -->
  </div>
</nav>
