<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">
        <img class="brand-logo" alt="Brand" src="assets/images/logo.svg">
      </a>
    </div>

    <!-- default -->
    <div *ngIf="isDefaultNavbar()" id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>

    <!-- super -->
    <div *ngIf="isSuperNavbar()" id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a routerLink="/home" routerLinkActive="active" data-toggle="collapse">현황</a></li>
        <li><a routerLink="/contents" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="collapse">행사관리 홈</a></li>
        <li><a routerLink="/contents/new" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="collapse">행사만들기</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" routerLinkActive="active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">유저관리 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/admin" data-toggle="collapse">호스트유저</a></li>
            <li><a routerLink="/user" data-toggle="collapse">일반유저</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" routerLinkActive="active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">티킷 PRO (사용자분석)<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/tickets/log" data-toggle="collapse">티켓 추적하기</a></li>
            <li><a routerLink="/tim/matrix/ticket/order" data-toggle="collapse">티켓 사용자 랭킹</a></li>
            <li><a routerLink="/tim/matrix/ticket/type" data-toggle="collapse">티켓 종류별 랭킹</a></li>
            <li><a routerLink="/tim/report" data-toggle="collapse">레포트</a></li>
            <li><a routerLink="/tim/analytics" data-toggle="collapse">실시간 현황 보기</a></li>
          </ul>
        </li>
        <li><a routerLink="/cs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="collapse">CS센터</a></li>
        <li><a routerLink="/target" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="collapse">타겟팅</a></li>
        <li><a routerLink="/company" routerLinkActive="active" data-toggle="collapse">회사관리</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" routerLinkActive="active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="label label-super">S</span>
            {{getUserName()}} ({{getCompanyName()}})<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/profile', getUserId()]" data-toggle="collapse">프로필</a></li>
            <li><a routerLink="/login" (click)="logout()">로그아웃</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- admin -->
    <div *ngIf="isAdminNavbar()" id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a routerLink="/home" routerLinkActive="active" data-toggle="collapse">현황</a></li>
        <li><a routerLink="/contents" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="collapse">행사관리 홈</a></li>
        <li><a routerLink="/contents/new" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="collapse">행사만들기</a></li>
        <li><a routerLink="/company" routerLinkActive="active" data-toggle="collapse">회사관리</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" routerLinkActive="active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">유저 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/admin" data-toggle="collapse">호스트유저</a></li>
            <li><a routerLink="/user" data-toggle="collapse">일반유저</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" routerLinkActive="active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">티킷 PRO (사용자분석)<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/tickets/log" data-toggle="collapse">티켓 추적하기</a></li>
            <li><a routerLink="/tim/matrix/ticket/order" data-toggle="collapse">티켓 사용자 랭킹</a></li>
            <li><a routerLink="/tim/matrix/ticket/type" data-toggle="collapse">티켓 종류별 랭킹</a></li>
            <li><a routerLink="/tim/report" data-toggle="collapse">레포트</a></li>
            <li><a routerLink="/tim/analytics" data-toggle="collapse">실시간 현황 보기</a></li>
          </ul>
        </li>
        <li><a routerLink="/cs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="collapse">CS센터</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" routerLinkActive="active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="label label-admin">A</span>
            {{getUserName()}} ({{getCompanyName()}})<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/profile', getUserId()]" data-toggle="collapse">프로필</a></li>
            <li><a routerLink="/login" (click)="logout()">로그아웃</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- host -->
    <div *ngIf="isHostNavbar()" id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a routerLink="/contents" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="collapse">행사관리 홈</a></li>
        <li><a routerLink="/contents/new" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="collapse">행사만들기</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" routerLinkActive="active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="label label-host">H</span>
            {{getUserName()}} ({{getCompanyName()}}) <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/profile', getUserId()]" data-toggle="collapse">프로필</a></li>
            <li><a routerLink="/login" (click)="logout()">로그아웃</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- staff -->
    <div *ngIf="isStaffNavbar()" id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <!-- <li><a routerLink="/contents" routerLinkActive="active" data-toggle="collapse">행사만들기</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" routerLinkActive="active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="label label-staff">S</span>
            {{getUserName()}} ({{getCompanyName()}})<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/profile', getUserId()]" data-toggle="collapse">프로필</a></li>
            <li><a routerLink="/login" (click)="logout()">로그아웃</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- pro -->
    <div *ngIf="isProNavbar()" id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a routerLink="/contents" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="collapse">행사관리 홈</a></li>
        <li><a routerLink="/contents/new" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="collapse">행사만들기</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" routerLinkActive="active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="label label-pro">P</span>
            {{getUserName()}} ({{getCompanyName()}})<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/profile', getUserId()]" data-toggle="collapse">프로필</a></li>
            <li><a routerLink="/login" (click)="logout()">로그아웃</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>
