.navbar-default {
  background-color: #ffffff;
  border-color: #e7e7e7;
}

.active {
  font-weight: bold;
  background: #e7e7e7 !important;
}

.brand-logo {
  width: 60px;
  height: 20px;
}

.label-super {
  font-size: 100%;
  background-color: #faba0a;
}

.label-admin {
  font-size: 100%;
  background-color: #cccccc;
}

.label-host {
  font-size: 100%;
  background-color: #62aab8;
}

.label-pro {
  font-size: 100%;
  background-color: #ed7f81;
}

.label-staff {
  font-size: 100%;
  background-color: #8f6dab;
}
