.navbar-default {
  background-color: #ffffff;
  border-color: #e7e7e7;
}

.active {
  background: #e7e7e7 !important;
}

.brand-logo {
  width: 60px;
  height: 20px;
}

#new-badge {
  background-color: #ed7f81;
}
