<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">컨텐츠 만들기</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <img class="img-thumbnail" src="https://s3.ap-northeast-2.amazonaws.com/devres.tkit.me/content/default/poster.m.png">
        <img class="img-thumbnail" src="https://s3.ap-northeast-2.amazonaws.com/devres.tkit.me/content/default/logo.m.png">
        <img class="img-thumbnail" src="https://s3.ap-northeast-2.amazonaws.com/devres.tkit.me/content/default/og.m.png">
      </div>
      <div class="col-md-8">
        <ng-template [ngIf]="role=='super' || role=='admin'">
          <br>
          <div class="form-group">
            <label for="company">회사 (필수)</label>
            <select class="form-control" name="company" [(ngModel)]="content.company_oid" (ngModelChange)="changeRole()">
              <ng-container *ngFor="let c of companies">
                <option [ngValue]="c._id">{{c.name}} ({{c.contact.name}})</option>
              </ng-container>
            </select>
          </div>
        </ng-template>
        <br>
        <div class="form-group">
          <label for="name">이름 (필수)</label>
          <input type="text" class="form-control" [(ngModel)]="content.name" name="name">
        </div>
        <br>
        <div class="form-group">
          <label for="place">장소 (필수)</label>
          <input type="text" class="form-control" [(ngModel)]="content.place" name="place">
        </div>
        <br>
        <div class="form-group">
          <label>설명</label>
          <textarea type="text" class="form-control" rows="3" cols="30" [(ngModel)]="content.desc" name="desc"></textarea>
        </div>
        <br>
        <div class="btn-group" btnRadioGroup [(ngModel)]="when_radio">
          <label class="btn btn-info" btnRadio="day">당일</label>
          <label class="btn btn-info" btnRadio="range">기간</label>
        </div>
        <div *ngIf="when_radio=='day'" class="form-group">
          <input placeholder="캘린더에서 행사날짜를 선택하세요." text="text" class="form-control"
            [(bsValue)]=when_value
            bsDatepicker #drp="bsDatepicker">
        </div>
        <div *ngIf="when_radio=='range'" class="form-group">
          <input placeholder="캘린더에서 행사기간을 선택해주세요." text="text" class="form-control"
            [(ngModel)]=when_range_value
            bsDaterangepicker #drp="bsDaterangepicker">
        </div>
        <br>
        <button type="button" class="btn btn-success" [disabled]="disabledSubmit()" (click)="onSubmit()">만들기</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
    <p class="text-right">TKIT - Host by <a href="http://rjkorea.com">RJ Korea Entertainment</a></p>
  </div>
</div>
