<ng-template [ngIf]="is_loading">
  <app-loader></app-loader>
</ng-template>

<div class="row">
  <div class="col-md-11">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="이름, 설명" [(ngModel)]="query" name="query" (keyup.enter)="search()">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
    </div>
    <br>
  </div>
  <div class="col-md-1">
    <p><a [routerLink]="['/content', this.content_oid, 'group', 'new']" class="btn btn-success" role="button">그룹티켓 만들기</a></p>
  </div>
</div>

<ng-template [ngIf]="!is_loading">
  <div *ngIf="count">
    <div class="row">
      <div class="col-md-12">
        <h2>전체그룹티켓 {{group_ticket_count}} 매</h2>
        <h3><a [routerLink]="['/content', content._id]">{{content.name}}</a> <span class="badge">{{count}}</span></h3>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <th>이름</th>
              <th>설명</th>
              <th>등록율</th>
              <th>입장 / 등록 / 전체</th>
              <th></th>
            </tr>
            <tr *ngFor="let g of groups">
              <td><a [routerLink]="['/content', this.content_oid, 'group', g._id, 'tickets']">{{g.name}}</a></td>
              <td>{{g.desc}}</td>
              <td><strong>{{((g.reg_gt_cnt/g.qty)*100).toString() | slice:0:4}}%</strong></td>
              <td>
                <span class="badge">{{g.used_gt_cnt}} / {{g.reg_gt_cnt}} / {{g.qty}}</span>
              </td>
              <td>
                <button type="button" class="btn btn-default btn-sm" (click)="onEdit(g)">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button type="button" class="btn btn-danger btn-sm" (click)="onRemove(g)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <nav aria-label="...">
      <ul class="pager">
        <li *ngIf="page!=1"><a (click)="onPrev()">이전</a></li>
        <li *ngIf="page*size<count"><a (click)="onNext()">다음</a></li>
      </ul>
    </nav>
  </div>

  <div *ngIf="!!!count">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></h1>
        <h4 class="text-center">검색결과가 존재하지 않습니다.</h4>
      </div>
    </div>
    <hr />
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
      <p class="text-right">TKIT - Admin by <a href="http://rjkorea.com">RJ Korea Entertainment</a></p>
    </div>
  </div>
</ng-template>
