<ng-template [ngIf]="is_loading">
  <app-loader></app-loader>
</ng-template>

<div class="row">
  <div class="col-md-6">
    <div class="input-group">
      <span class="input-group-addon">그룹</span>
      <input type="text" class="form-control" placeholder="이름, 설명" [(ngModel)]="query" name="query" (keyup.enter)="search()">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" [disabled]="!query" (click)="search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
    </div>
    <br>
  </div>
  <div class="col-md-5">
    <div class="input-group">
      <span class="input-group-addon">유저</span>
      <input type="text" class="form-control" placeholder="이름, 핸드폰번호" [(ngModel)]="query_group_ticket" name="query_group_ticket" (keyup.enter)="searchUser()">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" [disabled]="!query_group_ticket" (click)="searchUser()">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </span>
    </div>
    <br>
  </div>
  <div class="col-md-1">
    <p><a [routerLink]="['/content', this.content_oid, 'group', 'new']" class="btn btn-tkit-mint" role="button">그룹티켓 만들기</a></p>
  </div>
</div>

<ng-template [ngIf]="!is_loading">
  <div *ngIf="count">
    <div class="row">
      <div class="col-md-12">
        <h2>전체그룹티켓 대상자 {{group_ticket_count | number: '0.0-0'}} 명 / 입장 {{group_ticket_used_count | number: '0.0-0'}} 명</h2>
        <h3><a [routerLink]="['/content', content._id]">{{content.name}}</a> <span class="badge">{{count | number: '0.0-0'}}</span></h3>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <th>이름</th>
              <th>설명</th>
              <!-- <th>등록율</th> -->
              <th>입장율</th>
              <th>입장 / 등록 / 전체</th>
              <th></th>
            </tr>
            <tr *ngFor="let g of groups">
              <td><a [routerLink]="['/content', this.content_oid, 'group', g._id, 'tickets']">{{g.name}}</a></td>
              <td>{{g.desc}}</td>
              <!-- <td><strong>{{((g.reg_gt_cnt/g.qty)*100).toString() | slice:0:4}}%</strong></td> -->
              <td>
                <strong *ngIf="g.reg_gt_cnt">{{((g.used_gt_cnt/g.reg_gt_cnt)*100).toString() | slice:0:4}}%</strong>
                <strong *ngIf="!g.reg_gt_cnt">0%</strong>
              </td>
              <td>
                <span class="badge">{{g.used_gt_cnt | number: '0.0-0'}} / {{g.reg_gt_cnt | number: '0.0-0'}} / {{g.qty | number: '0.0-0'}}</span>
              </td>
              <td>
                <button type="button" class="btn btn-default btn-sm" (click)="onSmsModal(g)" data-toggle="modal" data-target="#send-modal">
                  <i class="fa fa-comment fa-lg" aria-hidden="true"></i> SMS전송
                </button>
                <!-- Send Modal -->
                <div class="modal fade" id="send-modal" tabindex="-1" role="dialog" aria-labelledby="send-modal-label">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="disable-modal-label">그룹티켓등록자 전체 SMS전송</h4>
                      </div>
                      <div class="modal-body">
                        <p *ngIf="selected_group">
                          <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> {{selected_group.name}} ({{selected_group.desc}})
                        </p>
                        <p *ngIf="selected_group">
                          전송 대상자: {{selected_group.reg_gt_cnt | number: '0.0-0'}} 명
                        </p>
                        <div *ngIf="selected_group" class="form-group">
                          <textarea type="text" class="form-control" rows="9" [(ngModel)]="sms_message"></textarea>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-tkit-mint" data-dismiss="modal" [disabled]="!sms_message" (click)="onSendSms()">SEND</button>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-default btn-sm" (click)="onEdit(g)">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button type="button" class="btn btn-danger btn-sm" (click)="onRemove(g)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <nav aria-label="...">
      <ul class="pager">
        <li *ngIf="page!=1"><a (click)="onPrev()">이전</a></li>
        <li *ngIf="page*size<count"><a (click)="onNext()">다음</a></li>
      </ul>
    </nav>
  </div>

  <div *ngIf="!!!count">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></h1>
        <h4 class="text-center">검색결과가 존재하지 않습니다.</h4>
      </div>
    </div>
    <hr />
  </div>

</ng-template>
