<div *ngIf="content">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{content.name}}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <img *ngIf="content.image" class="img-thumbnail" src="{{content.image.poster.m}}">
          <div class="form-group">
            <label for="upload-poster">포스터 업로드 (사이즈 정보: 674 x 960 px, 용량: 2 MB)</label>
            <input type="file" id="upload-poster" name="upload-poster" (change)="uploadPoster($event.target.files)">
          </div>
        </div>
        <div class="col-md-4">
          <img *ngIf="content.image" class="img-thumbnail" src="{{content.image.logo.m}}">
          <div class="form-group">
            <label for="upload-logo">로고 업로드 (사이즈 정보: 360 x 120 px, 용량: 2 MB)</label>
            <input type="file" id="upload-logo" name="upload-logo" (change)="uploadLogo($event.target.files)">
          </div>
        </div>
        <div class="col-md-4">
          <img *ngIf="content.image" class="img-thumbnail" src="{{content.image.og.m}}">
          <div class="form-group">
            <label for="upload-og">오픈그래프 업로드 (사이즈 정보: 460 x 245 px, 용량: 2 MB)</label>
            <input type="file" id="upload-og" name="upload-og" (change)="uploadOg($event.target.files)">
          </div>
          <button type="button" class="btn btn-tkit-mint btn-lg" (click)="goCreateTicket()">Step 3. 티켓 만들기</button>
        </div>
        <div class="col-md-12">
          <li *ngIf="content.image.extra" class="list-group-item">
            <h5 class="list-group-item-heading"><strong>추가 이미지</strong></h5>
            <div class="extra-image-list">
              <div class="extra-image">
                <img *ngIf="content.image.extra[0].m" class="img-thumbnail-extra" src="{{content.image.extra[0].m}}">
                <div class="filebox">
                  <label for="upload-extra-0">업로드</label>
                  <input type="file" id="upload-extra-0" name="upload-extra-0" (change)="uploadExtra('0', $event.target.files)">
                </div>
              </div>
              <div class="extra-image">
                <img *ngIf="content.image.extra[1].m" class="img-thumbnail-extra" src="{{content.image.extra[1].m}}">
                <div class="filebox">
                  <label for="upload-extra-1">업로드</label>
                  <input type="file" id="upload-extra-1" name="upload-extra-1" (change)="uploadExtra('1', $event.target.files)">
                </div>
              </div>
              <div class="extra-image">
                <img *ngIf="content.image.extra[2].m" class="img-thumbnail-extra" src="{{content.image.extra[2].m}}">
                <div class="filebox">
                  <label for="upload-extra-2">업로드</label>
                  <input type="file" id="upload-extra-2" name="upload-extra-2" (change)="uploadExtra('2', $event.target.files)">
                </div>
              </div>
              <div class="extra-image">
                <img *ngIf="content.image.extra[3].m" class="img-thumbnail-extra" src="{{content.image.extra[3].m}}">
                <div class="filebox">
                  <label for="upload-extra-3">업로드</label>
                  <input type="file" id="upload-extra-3" name="upload-extra-3" (change)="uploadExtra('3', $event.target.files)">
                </div>
              </div>
              <div class="extra-image">
                <img *ngIf="content.image.extra[4].m" class="img-thumbnail-extra" src="{{content.image.extra[4].m}}">
                <div class="filebox">
                  <label for="upload-extra-4">업로드</label>
                  <input type="file" id="upload-extra-4" name="upload-extra-4" (change)="uploadExtra('4', $event.target.files)">
                </div>
              </div>
            </div>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>
