.content_poster {
  object-fit: cover;
  height: 376px;
  width: 297px;
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #fff;
}
