<app-error-message [message]="error_message" *ngIf="error_message"></app-error-message>

<div class="row">
  <div class="col-md-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="이름, 설명, 장소, 장르, 라인업, 권한" [(ngModel)]="query" name="query" (keyup.enter)="search()">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
    </div>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <p><a routerLink="/contents/new" class="btn btn-success btn-lg" role="button">추가하기</a></p>
  </div>
</div>


<div *ngIf="is_loading">
  <app-loader></app-loader>
</div>

<div *ngIf="!is_loading">

  <div *ngIf="count">
    <div class="row">
      <div class="col-md-12">
        <h3>컨텐츠 <span class="badge">{{count}}</span></h3>
      </div>
      <div *ngFor="let content of contents">
        <div class="col-md-3">
          <div class="thumbnail">
            <img *ngIf="content.image" class="content_logo img-thumbnail" src="{{content.image.poster.m}}">
            <div class="caption">
              <h3 *ngIf="isStaffNavbar()">{{content.name | slice: 0:24}}</h3>
              <h3 *ngIf="!isStaffNavbar()"><a [routerLink]="['/content', content._id]">{{content.name | slice: 0:24}}</a></h3>
              <hr />
              <p>
                <span *ngIf="content.enabled" class="label label-success">활성화</span>
                <span *ngIf="!content.enabled" class="label label-danger">비활성화</span>
              </p>
              <p *ngIf="content.when"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <span *ngIf="content.when.start">{{content.when.start | amFromUnix | amDateFormat:'YYYY-MM-DD'}}</span> <span *ngIf="content.when.end">~ {{content.when.end | amFromUnix | amDateFormat:'YYYY-MM-DD'}}</span></p>
              <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{content.place}}</p>
              <p>
                <button type="button" class="btn btn-default" [disabled]="isStaffNavbar()" (click)="goTicket(content._id)">티켓</button>
                <button type="button" class="btn btn-default" (click)="goEntrance(content._id)">입장</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav aria-label="...">
      <ul class="pager">
        <li *ngIf="page!=1"><a (click)="onPrev()">이전</a></li>
        <li *ngIf="page*size<count"><a (click)="onNext()">다음</a></li>
      </ul>
    </nav>
  </div>

  <div *ngIf="!!!count">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></h1>
        <h4 class="text-center">검색결과가 존재하지 않습니다.</h4>
      </div>
    </div>
    <hr />
  </div>

</div>
