@charset 'utf-8';

.crop-wrapper {
    text-align: left;
    padding: 2rem 1.5rem;
}

.title {
    font-size: 1.75rem;
}

.desc {
    font-size: 1.05rem;
    margin-top: 0.2rem;
}

.crop-box {
    height: 30rem;
    margin: 1rem 0;
    border-radius: 3px;
    border: 1px solid #bbbbbb;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.crop-box #cropper {
    width: 100%;
    height: 100%;
}