<div *ngIf="is_loading">
  <app-loader></app-loader>
</div>

<div *ngIf="!is_loading">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h3 class="header-margin">{{content}}</h3>
    </div>
  </div>
  <div *ngIf="content_oid" class="row">
    <div class="col-md-4 col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">매출</h3>
        </div>
        <div class="panel-body">
          <h1>{{revenue.amount | currency: 'KRW': true: '0.0-0'}} <small>원</small></h1>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">티켓 전달횟수</h3>
        </div>
        <div class="panel-body">
          <h1>{{total_viral | number: '0.0-0'}} <small>회</small></h1>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">방문객 수</h3>
        </div>
        <div class="panel-body">
          <h1>{{ticket_count.use | number: '0.0-0'}} <small>명</small></h1>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">일별 티켓 전달 (Daily Ticket Viral)</h3>
        </div>
        <div class="panel-body">
          <chart [type]="daily_ticket_viral_chart.type" [data]="daily_ticket_viral_chart.data" [options]="daily_ticket_viral_chart.options"></chart>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <button type="button" class="btn btn-block btn-tkit-mint button-margin" (click)="goTicketTrack()">티켓 추적하기</button>
      <button type="button" class="btn btn-block btn-tkit-mint button-margin" (click)="goSellerRank()">티켓 셀러 랭킹</button>
      <button type="button" class="btn btn-block btn-tkit-mint button-margin" (click)="goTicketTypeRank()">티켓 종류별 랭킹</button>
      <button type="button" class="btn btn-block btn-tkit-mint button-margin" (click)="goContetRealtimeStats()">행사 실시간 현황보기</button>
      <button type="button" class="btn btn-block btn-tkit-mint button-margin" (click)="goSellerStats()">셀러 현황보기</button>
    </div>
  </div>
  <div *ngIf="!content_oid" class="row">
    <div class="col-md-4">
    </div>
  </div>
</div>
