<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">New Admin</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <br>
        <div class="form-group">
          <label for="role">Role (required)</label>
          <select class="form-control" name="role" [(ngModel)]="admin.role" (ngModelChange)="changeRole()">
            <ng-container *ngFor="let r of roles">
              <option [ngValue]="r">{{r}}</option>
            </ng-container>
          </select>
        </div>
        <ng-template [ngIf]="admin.role=='host' || admin.role=='staff'">
          <br>
          <div class="form-group">
            <label for="company">Company (required)</label>
            <select class="form-control" name="company" [(ngModel)]="admin.company_oid">
              <ng-container *ngFor="let c of companies">
                <option [ngValue]="c._id">{{c.name}} ({{c.contact.name}})</option>
              </ng-container>
            </select>
          </div>
        </ng-template>
        <br>
        <div class="form-group">
          <label for="name">Name (required)</label>
          <input type="text" class="form-control" [(ngModel)]="admin.name" name="name">
        </div>
        <br>
        <div class="form-group">
          <label for="email">Email (required)</label>
          <input type="text" class="form-control" [(ngModel)]="admin.email" name="email">
        </div>
        <br>
        <div class="form-group">
          <label for="mobile_number">Mobile Number (required)</label>
          <input type="text" class="form-control" [(ngModel)]="admin.mobile_number" name="mobile_number">
        </div>
        <br>
        <div class="form-group">
          <label for="password">Password (required)</label>
          <input type="password" class="form-control" [(ngModel)]="admin.password" name="password">
        </div>
        <br>
        <div class="form-group">
          <label for="password2">Confirm Password (required)</label>
          <input type="password" class="form-control" [(ngModel)]="admin.password2" name="password2">
        </div>
        <br>
        <button type="button" class="btn btn-success" [disabled]="disabledSubmit()" (click)="onSubmit()">Sumit new admin</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
    <p class="text-right">TKIT - Admin by <a href="http://rjkorea.com">RJ Korea Entertainment</a></p>
  </div>
</div>
<simple-notifications></simple-notifications>
