<div *ngIf="admin">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{admin.name}}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2">
          <img *ngIf="!admin.image" class="img-thumbnail" src="assets/images/user.png">
          <img *ngIf="admin.image" class="img-thumbnail" src="{{admin.image}}">
        </div>
        <div class="col-md-6">
          <br />
          <div class="stats">
            <span *ngIf="admin.enabled" class="label label-success">enabled</span>
            <span *ngIf="!admin.enabled" class="label label-danger">disabled</span>
            <span class="label label-primary">{{admin.role}}</span>
          </div>
          <br>
          <ul *ngIf="!edit_mode" class="list-group">
            <li class="list-group-item"><strong>ID: </strong>{{admin._id}}</li>
            <li class="list-group-item"><strong>Username: </strong>{{admin.name}}</li>
            <li class="list-group-item"><strong>Email: </strong>{{admin.email}}</li>
            <li class="list-group-item"><strong>Mobile Number: </strong>{{admin.mobile_number}}</li>
            <li class="list-group-item"><strong>Tablet Code: </strong>{{admin.tablet_code}}</li>
            <li class="list-group-item"><strong>Company: </strong>{{admin.company.name}}</li>
            <li class="list-group-item"><strong>Updated at: </strong>{{admin.updated_at | amFromUnix | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</li>
            <li class="list-group-item"><strong>Member Since: </strong>{{admin.created_at | amFromUnix | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</li>
          </ul>
          <div *ngIf="edit_mode" class="edit">
            <div class="input-group">
              <ui-switch size="large" [(ngModel)]="admin.enabled"></ui-switch>
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">Username</span>
              <input type="text" class="form-control" [(ngModel)]="admin.name" name="name">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">Email</span>
              <input type="text" class="form-control" [(ngModel)]="admin.email" name="email">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">Mobile Number</span>
              <input type="tel" class="form-control" [(ngModel)]="admin.mobile_number" name="mobile_number">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">Tablet Code</span>
              <input type="text" class="form-control" [(ngModel)]="admin.tablet_code" name="tablet_code">
            </div>
            <br>
            <div class="form-group">
              <select class="form-control" name="company" [(ngModel)]="company_oid">
                <ng-container *ngFor="let c of companies">
                  <option [ngValue]="c._id">{{c.name}} ({{c.contact.name}})</option>
                </ng-container>
              </select>
            </div>
            <br>
          </div>
        </div>
        <div class="col-md-4">
          <button *ngIf="!edit_mode" type="button" class="btn btn-default" (click)="onEdit()">Edit</button>
          <button *ngIf="!edit_mode" type="button" class="btn btn-default" (click)="changePassword()">Change Password</button>
          <button *ngIf="edit_mode" type="button" class="btn btn-default" (click)="onSave()">Save</button>
          <a *ngIf="edit_mode" (click)="onCancel()">Cancel</a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="error_msg" class="row">
    <div class="col-md-6">
      <div class="alert alert-danger" role="alert">
        <strong>에러</strong> {{error_msg}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
      <p class="text-right">TKIT - Admin by <a href="http://rjkorea.com">RJ Korea Entertainment</a></p>
    </div>
  </div>
</div>
