<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">비밀번호 변경</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <br>
        <div class="form-group">
          <label for="new_password_1">새 비밀번호 (필수)</label>
          <input type="password" class="form-control" [(ngModel)]="admin.new_password_1" name="new_password_1">
        </div>
        <br>
        <div class="form-group">
          <label for="new_password_2">새 비밀번호 확인(필수)</label>
          <input type="password" class="form-control" [(ngModel)]="admin.new_password_2" name="new_password_2">
        </div>
        <br>
        <button type="button" class="btn btn-tkit-mint" (click)="changePassword()">변경하기</button>
        <div *ngIf="error_msg" class="row">
          <div class="col-md-12">
            <div class="alert alert-danger margin-top" role="alert">
              <strong>에러</strong> {{error_msg}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
