<div *ngIf="is_loading">
  <app-loader></app-loader>
</div>
<div *ngIf="!is_loading">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h3>컨텐츠 이름</h3>
    </div>
  </div>
  <br>

  <ng-template [ngIf]="content_oid">
    <div class="row">
      <div class="col-md-11">
        <h3>셀러 현황
          <span class="badge">{{sellers.length | number: '0.0-0'}}</span>
        </h3>
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <th>셀러</th>
              <th></th>
              <th>티켓</th>
              <th>입장완료</th>
              <th>총 수익</th>
              <th></th>
            </tr>
            <tr *ngFor="let s of sellers">
              <td>
                <span *ngIf="authService.getRole()==='super' || authService.getRole()==='admin'"><a [routerLink]="['/user', s.user._id]">{{s.user.name}}</a></span>
                <span *ngIf="authService.getRole()==='host'">{{s.user.name}}</span>
              </td>
              <td>{{s.user?.memo}}</td>
              <td class="text-truncate">{{s.ticket_orders[0].ticket_type.name}} 외</td>
              <td>{{s.used_count | number: '0.0-0'}}</td>
              <td>{{s.amount | currency: 'KRW': true: '0.0-0'}}</td>
              <td>
                <!-- Settle Button trigger modal -->
                <button type="button" class="btn btn-default settle-button" aria-label="Left Align" data-toggle="modal" data-target="#settle-modal" (click)="onSettleModal(s)">
                  <span class="glyphicon glyphicon-usd" aria-hidden="true">정산내역</span>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="settle-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">정산내역</h4>
                      </div>
                      <div class="modal-body">
                        <h3>셀러 {{selected_seller?.user.name}}님 <span *ngIf="selected_seller?.user.memo">({{selected_seller?.user.memo}})</span>
                          <span class="badge">{{selected_seller?.used_count | number: '0.0-0'}}명 입장</span>
                        </h3>
                        <div class="row">
                          <div class="col-md-4 col-sm-4">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h3 class="panel-title">총 수익</h3>
                              </div>
                              <div class="panel-body">
                                <h2>{{(selected_seller?.amount) | currency: 'KRW': true: '0.0-0'}} <small>원</small></h2>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-4">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h3 class="panel-title">순 수익 <small>수수료(10%)</small></h3>
                              </div>
                              <div class="panel-body">
                                <h2>{{(selected_seller?.amount * 0.9) | currency: 'KRW': true: '0.0-0'}} <small>원</small></h2>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-4">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h3 class="panel-title">정산받을 금액 <small>원천징수(3.3%)</small></h3>
                              </div>
                              <div class="panel-body">
                                <h2>{{(selected_seller?.amount * 0.9) * 0.967 | currency: 'KRW': true: '0.0-0'}} <small>원</small></h2>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="table-responsive">
                              <table class="table table-striped">
                                <tr>
                                  <th>타입(티켓/쿠폰)</th>
                                  <th>이름</th>
                                  <th>커미션</th>
                                  <th>입장완료</th>
                                  <th>수익</th>
                                </tr>
                                <tr *ngFor="let to of selected_seller?.ticket_orders">
                                  <td>
                                    <span *ngIf="to.type === 'network'">티켓</span>
                                    <span *ngIf="to.type === 'coupon'">쿠폰</span>
                                  </td>
                                  <td>{{to.ticket_type.name}} ({{to.ticket_type.desc.value}})</td>
                                  <td>{{to.commission | currency: 'KRW': true: '0.0-0'}}</td>
                                  <td>{{to.ticket_used_count | number: '0.0-0'}}</td>
                                  <td>{{(to.commission * to.ticket_used_count) | currency: 'KRW': true: '0.0-0'}}</td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-tkit-mint" data-dismiss="modal">확인</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </ng-template>

</div>
