.user-box {
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
  border-bottom: solid 1px #ddd;
  margin-bottom: 15px;
  cursor: pointer;
}

.profile-img {
  width: 125px;
}

.user-data {
  margin-left: 24px;
}
