<div *ngIf="ticket">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ticket.content.name}}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <h4>{{ticket.ticket_type.name}} / {{ticket.ticket_type.desc.value}} / ₩ {{ticket.price | number: '0.0-0'}}</h4>
              <ul *ngIf="ticket.history_send_users" class="list-group">
                <li class="list-group-item list-group-item-info">
                  <strong>티켓 전송 히스토리</strong>
                  <span class="badge badge-primary">{{ticket.history_send_users.length}} 번 전송</span>
                </li>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <tr>
                      <th></th>
                      <th>이름</th>
                      <th>핸드폰번호</th>
                    </tr>
                    <tr *ngFor="let user of ticket.history_send_users">
                      <td>
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                      </td>
                      <td>
                        <a [routerLink]="['/cs/user', user._id, 'tickets']">{{user.last_name}}{{user.name}}</a>
                      </td>
                      <td>+({{user.mobile.country_code}}) {{user.mobile.number}}</td>
                    </tr>
                  </table>
                  <hr />
                </div>
              </ul>
              <p>
                <span *ngIf="ticket.status=='pend'" class="label label-default">전송준비</span>
                <span *ngIf="ticket.status=='send'" class="label label-warning">전송중</span>
                <span *ngIf="ticket.status=='register'" class="label label-success">등록완료</span>
                <span *ngIf="ticket.status=='use'" class="label label-info">입장완료</span>
                <span *ngIf="ticket.status=='pay'" class="label label-primary">결제완료</span>
                <span *ngIf="ticket.status=='cancel'" class="label label-danger">취소</span>
              </p>
              <ul *ngIf="ticket.receive_user" class="list-group">
                <li class="list-group-item list-group-item-success"><strong>소유자</strong></li>
                <li class="list-group-item">
                  <strong>이름: </strong><a [routerLink]="['/cs/user', ticket.receive_user._id, 'tickets']">{{ticket.receive_user.last_name}}{{ticket.receive_user.name}}</a>
                </li>
                <li class="list-group-item"><strong>핸드폰 번호: </strong>+({{ticket.receive_user.mobile.country_code}}) {{ticket.receive_user.mobile.number}}</li>
                <li *ngIf="ticket.receive_user.birthday" class="list-group-item"><strong>출생년도: </strong>{{ticket.receive_user.birthday}}</li>
                <li *ngIf="ticket.receive_user.gender" class="list-group-item"><strong>성별: </strong>{{ticket.receive_user.gender | gender}}</li>
                <li *ngIf="ticket.receive_user.memo" class="list-group-item"><strong>CS메모: </strong>{{ticket.receive_user.memo}}</li>
              </ul>
              <button *ngIf="ticket.status === 'register' || ticket.status === 'send' || ticket.status === 'pay'" type="button" class="btn btn-danger" data-toggle="modal" data-target="#cancel-modal">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"> 티켓취소</span>
              </button>
              <!-- Cancel Modal -->
              <div class="modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-labelledby="cancel-modal-label">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="disable-modal-label">티켓 취소</h4>
                    </div>
                    <div class="modal-body">
                      <div *ngIf="ticket.ticket_type.color==='tkit-mint'" class="modal-color-bar tkit-mint-bg"></div>
                      <div *ngIf="ticket.ticket_type.color==='tkit-coral'" class="modal-color-bar tkit-coral-bg"></div>
                      <div *ngIf="ticket.ticket_type.color==='ultra-bora'" class="modal-color-bar hangang-blue-bg"></div>
                      <div *ngIf="ticket.ticket_type.color==='hangang-blue'" class="modal-color-bar ultra-bora-bg"></div>
                      <div *ngIf="ticket.ticket_type.color==='mustard-norang'" class="modal-color-bar mustard-norang-bg"></div>
                      <div class="modal-ticket-type-box">
                        <h3 class="modal-text-truncate">{{ticket.content.name}}</h3>
                        <h4 class="modal-text-truncate">{{ticket.ticket_type.name}}</h4>
                        <h5 class="modal-text-truncate">{{ticket.ticket_type.desc.value}}</h5>
                        <h5 *ngIf="ticket.ticket_type.price>0" class="bold">티켓가격 ₩ {{ticket.ticket_type.price | number: '0.0-0'}}</h5>
                        <h5 *ngIf="ticket.ticket_type.price===0" class="tkit-mint-color">FREE TICKET</h5>
                      </div>
                      <h5>티켓 취소 시 행사 입장이 불가해 집니다</h5>
                      <h5>정말 티켓을 취소 하시겠습니까?</h5>
                      <p *ngIf="ticket.receive_user">{{ticket.receive_user.name}}</p>
                      <p *ngIf="ticket.receive_user">(+{{ticket.receive_user.mobile.country_code}}) {{ticket.receive_user.mobile.number}}</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">아니오</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onCancel(ticket._id)">네</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
