<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="이름, 핸드폰 번호, 이메일, 성별, 생년월일, 권한" [(ngModel)]="query" name="query" (keyup.enter)="search()">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" (click)="search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </span>
        </div>
        <br>
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">일반유저 <span class="badge">{{count}}</span></h3>
  </div>
  <div class="panel-body">
    <div *ngIf="count">
      <div class="row">
        <div class="col-md-12">
          <div *ngFor="let user of users">
            <div class="row">
              <div class="col-md-2">
                <img *ngIf="!user.image" class="img-thumbnail" src="assets/images/user.png">
                <img *ngIf="user.image" class="img-thumbnail" src="{{user.image.profile.m}}">
              </div>
              <div class="col-md-4">
                <h4><a [routerLink]="['/user', user._id]">{{user.name}}</a></h4>
                <p *ngIf="user.mobile">
                  <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>+{{user.mobile.country_code}} {{user.mobile.number}}
                </p>
                <p *ngIf="user.email">
                  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{user.email}}
                </p>
                <p *ngIf="user.birthday">
                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{user.birthday}}
                </p>
                <p *ngIf="user.gender">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{user.gender}}
                </p>
              </div>
              <div class="col-md-3">
                <span *ngIf="user.enabled" class="label label-success">활성화</span>
                <span *ngIf="!user.enabled" class="label label-danger">비활성화</span>
              </div>
              <div class="col-md-3">
                <span class="label label-default">{{user._id}}</span>
                <span class="label label-primary">{{user.role}}</span>
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div>
      <nav aria-label="...">
        <ul class="pager">
          <li *ngIf="page!=1"><a (click)="onPrev()">이전</a></li>
          <li *ngIf="page*size<count"><a (click)="onNext()">다음</a></li>
        </ul>
      </nav>
    </div>

    <div *ngIf="!!!count">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></h1>
          <h4 class="text-center">검색결과가 존재하지 않습니다.</h4>
        </div>
      </div>
      <hr />
    </div>

  </div>
</div>
