<div class="skeleton">
  <div class="skeleton-details">
    <div class="skeleton-thumbnail skeleton-bg-color">
    </div>
    <div class="skeleton-info">
      <div class="skeleton-title skeleton-bg-color"></div>
      <div class="skeleton-meta skeleton-bg-color"></div>
    </div>
  </div>
  <div class="skeleton-details">
    <div class="skeleton-thumbnail skeleton-bg-color">
    </div>
    <div class="skeleton-info">
      <div class="skeleton-title skeleton-bg-color"></div>
      <div class="skeleton-meta skeleton-bg-color"></div>
    </div>
  </div>
  <div class="skeleton-details">
    <div class="skeleton-thumbnail skeleton-bg-color">
    </div>
    <div class="skeleton-info">
      <div class="skeleton-title skeleton-bg-color"></div>
      <div class="skeleton-meta skeleton-bg-color"></div>
    </div>
  </div>
</div>
