<div *ngIf="ticket">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ticket.content.name}}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <h4>{{ticket.ticket_type.name}} / {{ticket.ticket_type.desc.value}} / ₩ {{ticket.price | number: '0.0-0'}}</h4>
              <ul *ngIf="ticket.receive_user" class="list-group">
                <li class="list-group-item list-group-item-success"><strong>소유자</strong></li>
                <li class="list-group-item"><strong>이름: </strong>{{ticket.receive_user.last_name}}{{ticket.receive_user.name}}</li>
                <li class="list-group-item"><strong>핸드폰 번호: </strong>+({{ticket.receive_user.mobile.country_code}}) {{ticket.receive_user.mobile.number}}</li>
                <li *ngIf="ticket.receive_user.birthday" class="list-group-item"><strong>출생년도: </strong>{{ticket.receive_user.birthday}}</li>
                <li *ngIf="ticket.content.is_rfid && !ticket.receive_user.birthday" class="list-group-item"><strong>출생년도: </strong><input type=tel class="input-empty" [(ngModel)]="birthday"  placeholder="ex) 1990"  pattern="\d*" [maxLength]="4"> <label class="warn">출생년도 4자리를 넣어주세요!</label></li>
                <li *ngIf="ticket.receive_user.gender" class="list-group-item"><strong>성별: </strong>{{ticket.receive_user.gender}}</li>
                <li *ngIf="ticket.content.is_rfid && !ticket.receive_user.gender" class="list-group-item"><strong>성별: </strong><select class="input-empty" [(ngModel)]="gender" >
                  <option value="male">남자</option>
                  <option value="female">여자</option>
                  <option value="others">정해지지 않음</option>
                </select>  <label class="warn">성별을 넣어주세요!</label></li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul *ngIf="ticket.history_send_users" class="list-group">
                <li class="list-group-item list-group-item-info">
                  <strong>티켓 전송 히스토리</strong>
                  <span class="badge badge-primary">{{ticket.history_send_users.length}}</span>
                </li>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <tr>
                      <th></th>
                      <th>이름</th>
                      <th>핸드폰번호</th>
                    </tr>
                    <tr *ngFor="let user of ticket.history_send_users">
                      <td>
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                      </td>
                      <td>{{user.last_name}}{{user.name}}</td>
                      <td>+{{user.mobile.country_code}} {{user.mobile.number}}</td>
                    </tr>
                  </table>
                  <hr/>
                </div>
              </ul>
            </div>
          </div>
          <div *ngIf="ticket.content.is_rfid">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="band-uid">밴드를 RFID 리더기에 터치 해주세요</label>
                  <input #banduid type="password" class="form-control" [disabled]="disabled_banduid" [(ngModel)]="band_uid" name="band-uid" (keyup)="touchBand($event)" [autofocus]="true">
                  <span *ngIf="is_loading"><img src="../../../assets/images/loading.svg">처리중입니다</span>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!ticket.content.is_rfid" class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-default" (click)="onDoneEntrance()">입장완료</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
