<div *ngIf="ticket">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ticket.content.name}} / {{ticket.ticket_type.name}} / {{ticket.ticket_type.desc}}</h3>
        </div>
        <div class="panel-body">
          <div *ngIf="!user_edit_mode" class="edit">
            <ul *ngIf="ticket.receive_user" class="list-group">
              <li class="list-group-item list-group-item-success"><strong>입장객</strong></li>
              <li class="list-group-item"><strong>이름: </strong>{{ticket.receive_user.name}}</li>
              <li *ngIf="ticket.receive_user.birthday" class="list-group-item"><strong>생년월일: </strong>{{ticket.receive_user.birthday}}</li>
              <li class="list-group-item"><strong>핸드폰 번호: </strong>{{ticket.receive_user.mobile_number}}</li>
              <li class="list-group-item"><strong>이메일: </strong>{{ticket.receive_user.email}}</li>
              <li *ngIf="ticket.receive_user.gender" class="list-group-item"><strong>성별: </strong>{{ticket.receive_user.gender}}</li>
              <!-- <li class="list-group-item"><strong>상태: </strong>
                <span *ngIf="ticket.enabled" class="label label-success">enabled</span>
                <span *ngIf="!ticket.enabled" class="label label-danger">disabled</span>
              </li>
              <li class="list-group-item"><strong>수정일: </strong>{{ticket.receive_user.created_at | amFromUnix | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</li>
              <li class="list-group-item"><strong>가입일: </strong>{{ticket.receive_user.created_at | amFromUnix | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</li> -->
            </ul>
          </div>
          <div *ngIf="user_edit_mode" class="edit">
            <div class="input-group">
              <span class="input-group-addon">이름</span>
              <input type="text" class="form-control" [(ngModel)]="ticket.receive_user.name" name="name">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">핸드폰 번호</span>
              <input type="tel" class="form-control" [(ngModel)]="ticket.receive_user.mobile_number" name="mobile_number">
            </div>
            <br>
            <div class="input-group">
              <label for="gender">Gender</label>
              <select class="form-control" name="gender" [(ngModel)]="ticket.receive_user.gender">
                <ng-container *ngFor="let g of genders">
                  <option [ngValue]="g.value">{{g.text}}</option>
                </ng-container>
              </select>
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">생년월일</span>
              <input type="tel" class="form-control" [(ngModel)]="ticket.receive_user.birthday" name="birthday">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">이메일</span>
              <input type="text" class="form-control" [(ngModel)]="ticket.receive_user.email" name="email">
            </div>
            <br>
          </div>

          <ul class="list-group" *ngFor="let d of ticket.days">
            <li class="list-group-item list-group-item-success"><strong>Day </strong>{{d.day}}</li>
            <li class="list-group-item input-group">
              <strong>입장: </strong>
                <ui-switch size="small" [(ngModel)]="d.entered"></ui-switch>
            </li>
            <li class="list-group-item" *ngIf="d.entered_at"><strong>입장시간: </strong>{{d.entered_at | amFromUnix | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</li>
            <li class="list-group-item" *ngIf="d.fee"><strong>환경부담금: </strong>{{d.fee.price | currency: 'KRW': true}}</li>
            <li class="list-group-item" *ngIf="d.fee">
              <select class="form-control" [(ngModel)]="d.fee.method">
                <ng-container *ngFor="let m of methods">
                  <option [ngValue]="m">{{m}} 결제</option>
                </ng-container>
              </select>
            </li>
          </ul>

          <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-default" (click)="onDoneEntrance()">입장완료</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
          <p class="text-right">TKIT - Host by <a href="http://rjkorea.com">RJ Korea Entertainment</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
