@charset 'utf-8';

/* angular */
.ng-dirty.ng-invalid {
    border-color: #ed7f81;
}

/* calendar (owl) */
.owl-dt-container {
    padding: 1rem;
    font-size: 1.5rem;
    background: #fff;
    pointer-events: auto;
    box-shadow: none;
    overflow: hidden;
    z-index: 1000;
}

.owl-dt-control-button-content {
    text-transform: uppercase;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-content {
    left: 15%;
    width: 75%;
    height: 75%;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
    background-color: #62aab8;
}

.owl-dt-calendar-table .owl-dt-calendar-header .owl-dt-weekdays th {
    font-size: 1.35rem;
    font-weight: normal;
    padding-bottom: 0.5em;
}

.owl-dt-calendar-table .owl-dt-calendar-header .owl-dt-weekdays th:first-child {
    color: #ed7f81;
}

.owl-dt-calendar-table .owl-dt-calendar-header .owl-dt-weekdays th:last-child {
    color: #4a90e2;
}

.owl-dt-inline-container, .owl-dt-popup-container {
    width: 95%;
    box-shadow: none;
}

.owl-dt-inline-container .owl-dt-calendar, .owl-dt-popup-container .owl-dt-calendar {
    height: 100%;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-in-range {
    background: #62aab8;
}

.owl-dt-container-info .owl-dt-container-info-active {
    color: #62aab8;
}

.owl-dt-calendar-control {
    padding: 1rem;
    justify-content: center;
}

.owl-dt-calendar-control .owl-dt-calendar-control-content {
    flex: 0.5;
    font-weight: 600;
    padding-left: 0.75rem;
}

.owl-dt-container-row {
    border-bottom: none;
}

.owl-dt-container-buttons {
    display: none;
}

.owl-dt-control-arrow-button[disabled] {
    box-shadow: none;
}

/* bootstrap */
.form-control {
    box-shadow: none;
}

.form-control:focus {
    border-color: #62aab8;
    outline: none;
    box-shadow: none;
}

.row .stick-left {
    padding-left: 0;
}

.row .stick-right {
    padding-right: 0;
}
