@charset 'utf-8';

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
	font-family: 'Noto Sans KR', sans-serif;
	color: #666666;
	font-weight: 400;
}

.bold {
	color: #444444;
	font-weight: 600;
}

.bolder {
	color: #444444;
	font-weight: 800;
}

.light {
	font-weight: 200;
}

.demi-light {
	font-weight: 300;
}

.default {
	font-weight: 400;
}
