@charset 'utf-8';

@font-face {
	font-family: 'NotoSansCJKkr-Thin';
	font-style: normal;
	font-display: fallback;
	font-weight: 100;
	src: local('NotoSansCJKkr-Thin'), url('../../assets/font/NotoSansCJKkr-Thin.woff');
}

@font-face {
	font-family: 'NotoSansCJKkr-Regular';
	font-style: normal;
	font-display: fallback;
	src: local('NotoSansCJKkr-Regular'), url('../../assets/font/NotoSansCJKkr-Regular.woff');
}


@font-face {
	font-family: 'NotoSansCJKkr-Bold';
	font-style: normal;
	font-display: fallback;
	src: local('NotoSansCJKkr-Bold'), url('../../assets/font/NotoSansCJKkr-Bold.woff');
}

@font-face {
	font-family: 'NotoSansCJKkr-Bolder';
	font-style: normal;
	font-display: fallback;
	src: local('NotoSansCJKkr-Bolder'), url('../../assets/font/NotoSansCJKkr-Black.woff');
}

body {
	font-family: 'NotoSansCJKkr-Regular';
	color: #666666;
}

.bold {
	font-family: 'NotoSansCJKkr-Bold';	
}

.bolder {
	font-family: 'NotoSansCJKkr-Bolder';
}

.light {
	font-family: 'NotoSansCJKkr-Thin';
}

.default {
	font-family: 'NotoSansCJKkr-Regular';
}
