@charset 'utf-8';
// @import 'variables';

@font-face {
	font-family: 'NotoSansKRRegular';
	font-style: normal;
	font-display: fallback;
	src: url(./assets/font/NotoSansKR-Regular.woff2);
}

@font-face {
	font-family: 'NotoSansKRLight';
	font-style: normal;
	font-display: fallback;
	src: url(./assets/font/NotoSansKR-Light.woff2);
}

@font-face {
	font-family: 'NotoSansKRBold';
	font-style: normal;
	font-display: fallback;
	src: url(./assets/font/NotoSansKR-Bold.woff2);
}

@font-face {
	font-family: 'NotoSansKRBlack';
	font-style: normal;
	font-display: fallback;
	src: url(./assets/font/NotoSansKR-Black.woff2);
}

body {
	font-family: 'NotoSansKRRegular';
	// color: $grey;

	.bold {
		font-family: 'NotoSansKRBold';
	}

	.bolder {
		font-family: 'NotoSansKRBlack';
	}

	.light {
		font-family: 'NotoSansKRLight';
	}

	.default {
		font-family: 'NotoSansKRRegular';
	}
}
