@charset 'utf-8';

/* base font size */
@media all and (min-width: 321px) and (max-width: 340px) {
	html { font-size: 10px; }
}

@media all and (min-width: 341px) and (max-width: 360px) {
	html { font-size: 10px; }
}

@media all and (min-width: 361px) and (max-width: 374px) {
	html { font-size: 10px; }
}

@media all and (min-width: 375px) and (max-width: 400px) {
	html { font-size: 11px; }
}

@media all and (min-width: 401px) and (max-width: 440px) {
	html { font-size: 11px; }
}

@media all and (min-width: 441px) and (max-width: 480px) {
	html { font-size: 11px; }
}

@media screen and (min-width : 481px) and (max-width : 600px) {
	html { font-size: 12px; }
}

@media screen and (min-width : 601px) and (max-width : 840px) {
	html { font-size: 14px; }
}

@media screen and (min-width : 841px) and (max-width : 1080px) {
	html { font-size: 14px; }
}

@media screen and (min-width : 1081px) {
	html { font-size: 15px; }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .ticketistkit { display: none; }
  .media-box { box-shadow: none; margin: 0; }
  .media-modal { width: 85%; }
  .media-header { padding-top: 2.5rem; }
}
/* PC, Tablet */
@media screen and (min-width: 769px) {
  .media-box { box-shadow: 0 0 11px 0 rgba(52, 52, 52, 0.32); margin: 15% 0; }
  .media-modal { width: 30rem; }
  .media-header { padding-top: 1rem; }
}

/* Bootstrap */
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.media-preview { height: 720px; }
	.media-preview .scroll-box { height: 500px; }
}

@media screen and (min-width: 1201px) {
	.media-preview { height: 870px; }
	.media-preview .scroll-box { height: 618px; }
}
  