<div class="hidden-xs hidden-sm">
    <div class="title">
      <div class="bold tkit-mint-color">스프레드란?</div>
      <div>티켓을 통해 바이럴 마케팅하는 기능입니다</div>
    </div>
    <div class="desc">
      &lt;예시&gt;<br>
      티켓 수량 : 3,500장<br>
      스프레드 : 10,000장<br>
      <br>
      1. 10,000장의 스프레드를 생성하여 전송합니다.<br>
      <br>
      2. 지정한 티켓수량인 3,500장이 선착순으로 모두 결제(등록)되면, 나머지 스프레드 수량인 6,500장은 자동으로 취소됩니다. (Sold Out)
    </div>
    <div class="effection bold">티켓이 많이 전달될수록 바이럴이 향상됩니다</div>
  </div>
  
  <div class="hidden-md hidden-lg">
    <div class="title m-title">
      <img src="/assets/images/question-mark.svg">
      <div class="bold">스프레드란?</div>
      <div>티켓을 통해 바이럴 마케팅하는 기능입니다</div>
    </div>
    <div class="desc m-desc">
      &lt;예시&gt;<br>
      티켓 수량 : 3,500장<br>
      스프레드 : 10,000장<br>
      <br>
      1. 10,000장의 스프레드를 생성하여 전송합니다.<br>
      <br>
      2. 지정한 티켓수량인 3,500장이 선착순으로 모두 결제(등록)되면, 나머지 스프레드 수량인 6,500장은 자동으로 취소됩니다. (Sold Out)
    </div>
    <div class="m-effection bold">티켓이 많이 전달될수록 바이럴이 향상됩니다</div>
  </div>