<div class="hidden-xs hidden-sm">
  <div class="title bold tkit-mint-color">행사 공개여부</div>
  <div class="desc">
    <div class="bold">행사 공개</div>
    <div>친구가 아닌 다른 사람도 이 행사를 보고 찾을 수 있습니다.<br>비공개 선택을 하지 않으면 공개 행사로 만들어집니다</div>
    <div class="bold">행사 비공개</div>
    <div>초대된 손님만 이 행사를 볼 수 있습니다.</div>
  </div>
</div>

<div class="hidden-md hidden-lg">
  <div class="title m-title bold">
    <img src="/assets/images/question-mark.svg">
    <div>행사 공개여부</div>
  </div>
  <div class="desc m-desc">
    <div class="bold">행사 공개</div>
    <div>친구가 아닌 다른 사람도 이 행사를 보고 찾을 수 있습니다.<br>비공개 선택을 하지 않으면 공개 행사로 만들어집니다</div>
    <div class="bold">행사 비공개</div>
    <div>초대된 손님만 이 행사를 볼 수 있습니다.</div>
  </div>  
</div>