<div *ngIf="is_loading">
  <app-loader></app-loader>
</div>

<div class="row">
  <div class="col-md-6">
    <br>
    <div class="form-group">
      <select class="form-control" name="content" [(ngModel)]="content_oid" (ngModelChange)="changeContent()">
        <ng-container *ngFor="let c of contents">
          <option [ngValue]="c._id">{{c.name}} ({{c.company.name}})</option>
        </ng-container>
      </select>
    </div>
  </div>
  <div class="col-md-6">
    <p class="text-right"><a routerLink="/qnas/new" class="btn btn-success" role="button">질문/답변 만들기</a></p>
  </div>
</div>

<div *ngIf="!is_loading">
  <div *ngIf="count">
    <div class="row">
      <div class="col-md-12">
        <h3>질문 / 답변 <span class="badge">{{count}}</span></h3>
      </div>
      <div class="col-sm-12 col-md-12">
        <div class="list-group">
          <ng-template ngFor let-q [ngForOf]="qnas">
            <a [routerLink]="['/qna', q._id]" class="list-group-item">
              <h4 class="list-group-item-heading">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                {{q.question}}
                <!--{{q.updated_at | amFromUnix | amDateFormat:'YYYY-MM-DD HH:mm:ss' | amTimeAgo}}-->
                <span *ngIf="q.is_mytkit" class="label label-success">마이티킷</span>
              </h4>
              <p class="list-group-item-text">
                {{q.answer}}
              </p>
            </a>
          </ng-template>
        </div>
      </div>
    </div>

    <nav aria-label="...">
      <ul class="pager">
        <li *ngIf="page!=1"><a (click)="onPrev()">이전</a></li>
        <li *ngIf="page*size<count"><a (click)="onNext()">다음</a></li>
      </ul>
    </nav>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
      <p class="text-right">TKIT - Host by <a href="http://rjkorea.com">RJ Korea Entertainment</a></p>
    </div>
  </div>
</div>
