<app-navbar></app-navbar>

<div class="container">
  <!-- for debug -->
  <ul *ngIf="debug" class="list-group">
    <li class="list-group-item list-group-item-danger">
      <h4>userAgent</h4>
      <p>{{userAgent}}</p>
    </li>
    <li class="list-group-item list-group-item-danger">
      <h4>vendor</h4>
      <p>{{vendor}}</p>
    </li>
    <li class="list-group-item list-group-item-danger">
      <h4>vendorSub</h4>
      <p>{{vendorSub}}</p>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div><!-- /.container -->

<div class="footer">
  <hr class="footer-line">
  <div class="footer-social">
    <div class="container text-center">
      <ul class="list-inline">
        <li class="list-inline-item facebook">
          <a href="https://facebook.com/tkitme" target="_blank">
            <img src="../assets/images/social_fb.svg">
          </a>
        </li>
        <li class="list-inline-item instagram">
          <a href="https://instagram.com/tkit_official" target="_blank">
            <img src="../assets/images/social_ig.svg">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-main">
    <div class="container">
      <!-- The efficient way to success your events
      <br>
      Host by <a href="https://company.tkit.me" target="_blank">TKIT</a> version 0.9
      <br> -->
      <!-- RJ Korea Entertainment -->
      © 2016 All Rights Reserved.
      <br>RJ Korea Entertainment<a href="https://company.tkit.me" target="_blank"> TKIT</a>.
      <!-- <br>
      Privacy and Terms -->
    </div>
  </div>
</div>
