.footer-line {
  margin: 5px 0 0;
  border: .5px solid #dedede;
}

.footer-social {
  margin-top: 50px;
  margin-bottom: 0;
}

.list-inline {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.footer-main {
  padding: 50px 0;
  text-align: center;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
