<navbar></navbar>

<div class="container">
  <!-- for debug -->
  <ul *ngIf="debug" class="list-group">
    <li class="list-group-item list-group-item-danger">
      <h4>userAgent</h4>
      <p>{{userAgent}}</p>
    </li>
    <li class="list-group-item list-group-item-danger">
      <h4>vendor</h4>
      <p>{{vendor}}</p>
    </li>
    <li class="list-group-item list-group-item-danger">
      <h4>vendorSub</h4>
      <p>{{vendorSub}}</p>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div><!-- /.container -->

<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
    <p class="text-right">TKIT - Host by <a href="https://company.tkit.me" target="_blank">RJ Korea Entertainment</a></p>
  </div>
</div>
