p {
    font-size: 1.15rem;
}

ul {
    padding: 0;
}

.bold.gray {
    color: #666666;
}

.right {
    float: right;
}

.title .bolder {
    font-size: 2.625rem;
}

.ticket-btn {
    display: inline-block;
    cursor: pointer;
    color: #62aab8;
    border: 1px solid;
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 0.8rem 3.5rem;
    margin-bottom: 10px;
}

.ticket-btn * {
    display: inline-block;
    vertical-align: middle;
}

.list-wrap {
    margin: 2.5rem 0;
}

.list-wrap .list {
    margin-bottom: 2rem;
}

.list .list-element {
    position: relative;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(79, 79, 79, 0.5);
    padding: 2rem 1rem 1rem;
    font-size: 1.1rem;
}

.list-element .ticket-color {
    position: absolute;
    background-color: rgb(143, 109, 171);
    border-top-left-radius: 2px;
    border-top-right-radius:  2px;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.8rem;
}

.list-element .first-desc {
    display: flex;
    flex-direction: column;
    height: 7.5rem;
}

.list-element .first-desc li:first-child {
    flex: 1;
}

.list-element .first-desc .name {
    font-size: 1.5rem;
    margin-bottom: 0.1rem;
}

.list-element .first-desc .desc {
    font-size: 1.1rem;
    height: 3rem;
}

.list-element .second-desc {
    border-top: 1px solid #dddddd;
    margin: 0;
    padding-top: 10px;
}

.list-element .second-desc .bold {
    color: #666666;
}

.list-element .second-desc span {
    font-size: 0.95rem;
}

.btns {
    display: flex;
    margin-top: 1.5rem;
}

.btns .btn {
    flex: 1;
    margin: 0;
    color: #888888;
    text-align: center;
    border:1px solid #d2d2d2;
    background-color: white;
}

.btns .btn:nth-child(2) {
    margin: 0 0.75rem;
}

.notice {
    text-align: center;
    color: #999999;
    border: 1px solid #d2d2d2;
    border-radius: 16px;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 0.95rem;
}

.m-type {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 40%;
    margin-bottom: 0.5rem;
}

.m-type label {
    color: #a1a1a1;
    font-size: 1.05rem;
    margin: 0;
}

.m-type div {
    font-size: 1.6rem;
}