<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
    <h3>The Final COUNTDOWN 2017 <small>by VU Ent.</small></h3>
    <div *ngIf="is_entrance">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{entrance_user.group}}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <img class="img-thumbnail github-avatar" src="./assets/images/user.png">
            </div>
            <div class="col-md-8">
              <div class="stats">
                <span class="label label-default"> {{entrance_user.gender}}</span>
                <span class="label label-primary"> {{entrance_user.fee.method}}</span>
              </div>
              <br>
              <ul class="list-group">
                <li class="list-group-item"><strong>Name: </strong>{{entrance_user.name}}</li>
                <li class="list-group-item"><strong>Ticket Type: </strong>{{entrance_user.type}}</li>
                <li class="list-group-item"><strong>Mobile Number: </strong>{{entrance_user.mobile_number}}</li>
                <li class="list-group-item"><strong>Email: </strong>{{entrance_user.email}}</li>
                <li class="list-group-item"><strong>Birthday: </strong>{{entrance_user.birthday}}</li>
                <li *ngIf="!entrance_user.entered" class="list-group-item">
                  <i class="glyphicon glyphicon-ok-circle" style="color: green;"> Waiting</i>
                </li>
                <li *ngIf="entrance_user.entered" class="list-group-item"><strong>Entered: </strong>
                    <i class="glyphicon glyphicon-remove-circle" style="color: red;"> Done</i>
                    {{entrance_user.updated_at | amFromUnix | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}
                </li>
              </ul>
              <button type="button" class="btn btn-success btn" (click)="onEnter($event)">
                <i class="fa fa-sign-in"></i> Enter
              </button>
              <button type="button" class="btn btn-cancel btn" (click)="onCancel($event)">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!is_entrance">
      <h1><i class="glyphicon glyphicon-repeat gly-spin"></i> Waiting a request.</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
    <p class="text-right">TKIT - Admin by <a href="http://rjkorea.com">RJ Korea Entertainment</a></p>
  </div>
</div>

<simple-notifications></simple-notifications>
