<div class="row">
  <div class="col-md-6">
    <img src="../../../assets/images/host-main-bg.png" class="img-responsive">
  </div>
  <div class="col-md-6">
    <div class="login">
      <div class="static-menu">
        <div>
          <div class="description">
            쉽게 티켓을 만들어서<br>
            친구에게 보내고 싶다면?
          </div>
          <div class="title">
            티킷 호스트
          </div>
        </div>
      </div>
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label class="tds-label offset">아이디(이메일)</label>
          <input type="text" class="form-control tds-input" formControlName="email" placeholder="예) help@rjkorea.com">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="tds-message-invalid">
            <div *ngIf="email.errors.required">
              이메일 주소 필수
            </div>
            <div *ngIf="email.errors.email">
              이메일 형식이 올바르지 않음
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="tds-label offset">패스워드</label>
          <input type="password" class="form-control tds-input" formControlName="password" placeholder="••••••••••••••">
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="tds-message-invalid">
            <div *ngIf="password.errors.required">
              패스워드 필수
            </div>
            <div *ngIf="password.errors.minlength">
              최소 8자 이상
            </div>
          </div>
        </div>
        <button class="btn btn-tkit-mint btn-block login-button" (click)="login()" [disabled]="!loginForm.valid">로그인</button>
        <div *ngIf="error_msg" class="error">
          <div class="alert alert-danger" role="alert">{{error_msg}}</div>
        </div>
      </form>
      <!-- <div class="static-find-id-password signup-link">
        <a routerLink="/find/id">아이디 찾기</a> | <a routerLink="/find/password">비밀번호 재설정</a>
      </div> -->
      <div class="static-signup">
        아직 티킷 호스트 계정이 없으신가요? <a routerLink="/signup" class="signup-link">회원가입</a>
      </div>
    </div>
  </div>
</div>
