
.login {
  height: 100%;
  margin-top: 111px;
  padding: 85px 70px 68px 70px;
  border-radius: 7px;
  box-shadow: 0 0 11px 0 rgba(52, 52, 52, 0.32);
  background-color: #ffffff;
}

.login-xs {
  height: 100%;
  margin: 10px 30px 25px 30px;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0 0 11px 0 rgba(52, 52, 52, 0.32);
  background-color: #ffffff;
}

.static-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.title {
  margin-top: 8px;
  margin-bottom: 13px;
  font-size: 40px;
  font-weight: 900;
  line-height: 1.2;
  color: #444444;
}

.description {
  font-size: 19px;
  font-weight: 300;
  line-height: 1.11;
  color: #444444;
}

.welcome {
  width: 70%;
  height: 70%;
  margin-bottom: 13px;
  bottom: 0;
  right: 0;
  position: absolute;
}

.offset {
  margin-top: 26px;
}

.login-button {
  margin-top: 43px;
  height: 50px;
}

.static-find-id-password {
  margin-top: 12px;
  font-size: 12px;
  color: #666666;
  text-align: center;
}

.static-signup {
  margin-top: 12px;
  font-size: 12px;
  color: #666666;
  text-align: center;
}

.signup-link {
  color: #62aab8;
}

.error {
  margin-top: 12px;
  margin-bottom: 12px;
}

input[type=password], input[type=password]::-webkit-input-placeholder {
  font-size: 26px;
  letter-spacing: 3px;
}

input[type=password]::-webkit-input-placeholder {
  font-size: 26px;
  letter-spacing: 4px;
}
