<div class="row">
  <div *ngIf="error_msg" class="alert alert-danger" role="alert">{{error_msg}}</div>
  <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
    <h2 class="page-header">로그인 <small>호스트</small></h2>
    <form (submit)="login()">
      <div class="form-group">
        <label>이메일</label>
        <input type="text" class="form-control" [(ngModel)]="model.email" name="email">
      </div>
      <div class="form-group">
        <label>패스워드</label>
        <input type="password" class="form-control" [(ngModel)]="model.password" name="password">
      </div>
      <input type="submit" class="btn btn-tkit-mint" value="로그인">
    </form>
  </div>
</div>
<br>
