<div *ngIf="company">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{company.name}}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <br />
          <div class="stats">
            <span *ngIf="company.enabled" class="label label-success">enabled</span>
            <span *ngIf="!company.enabled" class="label label-danger">disabled</span>
          </div>
          <br>
          <ul *ngIf="!edit_mode" class="list-group">
            <li class="list-group-item"><strong>ID: </strong>{{company._id}}</li>
            <li class="list-group-item"><strong>Name: </strong>{{company.name}}</li>
            <li class="list-group-item"><strong>Contact Name: </strong>{{company.contact.name}}</li>
            <li class="list-group-item"><strong>Contact Mobile Number: </strong>{{company.contact.mobile_number}}</li>
            <li class="list-group-item"><strong>Contact Email: </strong>{{company.contact.email}}</li>
            <li class="list-group-item"><strong>Updated at: </strong>{{company.updated_at | amFromUnix | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</li>
            <li class="list-group-item"><strong>Member Since: </strong>{{company.created_at | amFromUnix | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</li>
          </ul>
          <div *ngIf="edit_mode" class="edit">
            <div class="input-group">
              <ui-switch size="large" [(ngModel)]="company.enabled"></ui-switch>
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">Name</span>
              <input type="text" class="form-control" [(ngModel)]="company.name" name="name">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">Contact Name</span>
              <input type="text" class="form-control" [(ngModel)]="company.contact.name" name="name">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">Contact Mobile Number</span>
              <input type="text" class="form-control" [(ngModel)]="company.contact.mobile_number" name="mobile_number">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">Contact Email</span>
              <input type="text" class="form-control" [(ngModel)]="company.contact.email" name="email">
            </div>
            <br>
          </div>
        </div>
        <div class="col-md-2">
          <button *ngIf="!edit_mode" type="button" class="btn btn-default" (click)="onEdit()">Edit</button>
          <button *ngIf="edit_mode" type="button" class="btn btn-default" (click)="onSave()">Save</button>
          <a *ngIf="edit_mode" (click)="onCancel()">Cancel</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
      <p class="text-right">TKIT - Admin by <a href="http://rjkorea.com">RJ Korea Entertainment</a></p>
    </div>
  </div>
</div>
<simple-notifications></simple-notifications>
