<div class="row">
  <div class="col-md-11">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="이름, 담당자 정보" [(ngModel)]="query" name="query" (keyup.enter)="search()">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
    </div>
    <br>
  </div>
  <div class="col-md-1">
    <p><a routerLink="/companies/new" class="btn btn-success" role="button">회사 만들기</a></p>
  </div>
</div>

<div *ngIf="is_loading">
  <app-loader></app-loader>
</div>

<div *ngIf="!is_loading">

  <div *ngIf="count">
    <div class="row">
      <div class="col-md-12">
        <h3>회사 <span class="badge">{{count}}</span></h3>
      </div>
      <div *ngFor="let company of companies">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <h3><a [routerLink]="['/company', company._id]">{{company.name}}</a></h3>
              <hr />
              <p>
                <span *ngIf="company.enabled" class="label label-success">활성화</span>
                <span *ngIf="!company.enabled" class="label label-danger">비활성화</span>
              </p>
              <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{company.contact.name}}</p>
              <p><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> {{company.contact.mobile_number}}</p>
              <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{company.contact.email}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav aria-label="...">
      <ul class="pager">
        <li *ngIf="page!=1"><a (click)="onPrev()">이전</a></li>
        <li *ngIf="page*size<count"><a (click)="onNext()">다음</a></li>
      </ul>
    </nav>
  </div>

  <div *ngIf="!!!count">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></h1>
        <h4 class="text-center">검색결과가 존재하지 않습니다.</h4>
      </div>
    </div>
    <hr />
  </div>

  <!--<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Companies <span class="badge">{{count}}</span></h3>
    </div>
    <div class="panel-body">
      <div *ngIf="count">
        <div class="row">
          <div *ngFor="let company of companies">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <div class="caption">
                  <h3><a [routerLink]="['/company', company._id]">{{company.name}}</a></h3>
                  <hr />
                  <p>
                    <span *ngIf="company.enabled" class="label label-success">enabled</span>
                    <span *ngIf="!company.enabled" class="label label-danger">disabled</span>
                  </p>
                  <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{company.contact.name}}</p>
                  <p><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> {{company.contact.mobile_number}}</p>
                  <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{company.contact.email}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nav aria-label="...">
          <ul class="pager">
            <li *ngIf="page!=1"><a (click)="onPrev()">Previous</a></li>
            <li *ngIf="page*size<count"><a (click)="onNext()">Next</a></li>
          </ul>
        </nav>
      </div>

      <div *ngIf="!!!count">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></h1>
            <h4 class="text-center">No results matched your search.</h4>
          </div>
        </div>
        <hr />
      </div>

    </div>
  </div>-->

</div>
