<div class="title">
    <h1>행사관리 홈</h1>
    <p>티킷으로 쉽고 간편하게 행사를 관리해보세요</p>
</div>

<!-- tab menu --->
<div class="tab-nav-wrap">
    <ul class="tab-nav list-inline">
        <li class="on">진행중인 행사 <span>13</span></li> <!-- class="on" 으로 활성화 컨트롤 -->
        <li>종료된 행사 <span>1</span></li>
    </ul>
</div>
<!-- //tab menu --->

<!-- box list -->
<div class="list-wrap">
    <div class="row">
        <div class="col-xs-12 col-md-4 list">
            <ul class="list-element">
                <li class="image"><img src="assets/images/thum01.jpg" align=""></li>
                <li class="tit">PIERRE ET GILLES 피에르 앤 쥘 展 </li>
                <li class="icon add">서울시 강남구 선흥로 807 K현대미술관</li>
                <li class="icon time"><span class="font500">2019.01.10</span> 12:00 - <span class="font500">2019.03.25</span> 19:00</li>
            </ul>
            <ul class="btn-wrap">
              <li><div class="btn btn-line">상세보기(수정)</div></li>
                <li><div class="btn btn-line">티켓관리</div></li>
                <li><div class="btn btn-line">스탭/셀러관리</div></li>
                <li><div class="btn btn-line">입장관리</div></li>
                <li><div class="btn btn-mint">행사현황 보기</div></li>
            </ul>
        </div>
    </div>
</div>
<!-- //box list -->