<div class="host-wrapper">
  <div class="title bold">
    <span>주최자/주최사 정보</span>
    <img *ngIf="isCoverPopup" src="/assets/images/close-grey.svg" (click)="controlCoverPopup.emit(false)">
  </div>
  <div class="desc demi-light">정보 입력 후 완료 버튼을 눌러주세요.<br>아래 세 항목은 필수 입력사항입니다.</div>
  <div *ngIf="isCoverPopup" class="u-header-shadow"></div>

  <form [formGroup]="hostForm">
    <div class="media-header">
      <div class="form-group">
        <label class="tds-label bold">주최자/주최사</label>
        <input type="text" class="form-control tds-input" formControlName="hostName" placeholder="주최자/주최사 이름을 입력해주세요" [(ngModel)]="body.hostName">
      </div>
      <div class="form-group">
        <label class="tds-label bold">이메일 주소</label>
        <input type="text" class="form-control tds-input" formControlName="hostEmail" placeholder="예) help@rjkorea.com" [(ngModel)]="body.hostEmail">
        <div *ngIf="hostEmail.invalid && (hostEmail.dirty || hostEmail.touched)" class="tds-message-invalid">
          <div *ngIf="hostEmail.errors.email">
            이메일 형식이 올바르지 않습니다
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="tds-label bold">연락처</label>
        <input type="tel" class="form-control tds-input" pattern="\d*" formControlName="hostTel" placeholder="번호만 입력해주세요" [(ngModel)]="body.hostTel">
        <div *ngIf="hostTel.invalid && (hostTel.dirty || hostTel.touched)" class="tds-message-invalid">
          숫자만 입력해주세요
        </div>
      </div>
    </div>
    <button class="btn btn-tkit-mint btn-block" [disabled]="!hostForm.valid" (click)="done()">완  료</button>
  </form>

</div>