@charset 'utf-8';

input:disabled {
    cursor: pointer;
    background-color: #fbfbfb;
}

.ticket-box {
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(68, 68, 68, 0.5);
    border-radius: 2px;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.ticket-box .ticket-inner-box {
    padding: 2.5rem 2rem;
}

.ticket-box::before {
    position: absolute;
    background-color: #62aab8;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    width: 100%;
    height: 1.25rem;
    left: 0;
    right: 0;
    top: 0;
}

.ticket-box .delete-btn {
    display: flex;
    justify-content: flex-end;
    color: #ed7f81;
    margin-bottom: -1rem;
    font-size: 1.15rem;
}

.ticket-box .delete-btn img {
    cursor: pointer;
    width: 1.15rem;
}

.ticket-box .delete-btn span {
    cursor: pointer;
    margin-left: 0.15rem;
}

.right {
    float: right;
}

.q-box{
    display: flex;
    align-items: center;
    flex: 1;
}

.q-mark {
    display: inline-block;
    vertical-align: text-top;
    margin: 0 2px;

}

.q-mark img {
    width: 1.3rem;
    cursor: pointer;
}

.time-box {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.time-box label {
    font-size: 1rem;
    padding-top: 0.5rem;
}

.time-box img {
    width: 1.5rem;
    margin: 0 1rem;
}

.time-box input {
    flex: 0.5;
}

.time-box select {
    flex: 0.25;
}

.count-box {
    display: flex;
}

.count-box div {
    flex: 1;
    margin-right: 1rem;
}