<div class="row">
  <div class="row hidden-xs hidden-sm">
    <div class="col-md-6">
      <img src="../../../assets/images/host-main-bg.png" class="img-responsive">
    </div>
    <div class="col-md-6 signup media-box">
      <div class="signup-header">
        <div class="title bolder">
          티킷 간편 회원가입
        </div>
        <div class="description">
          간편하게 회원가입하고 친구에게 티켓을 보내보세요
        </div>
      </div>
      <div class="signup-body">
        <div class="personal-button" (click)="goPersonalSignup()">
          <img class="signup-icon" src="../../../assets/images/personal-icon.svg">
          <div class="signup-title">
            개인 회원가입
          </div>
          <div class="signup-description">
            사업자번호가 없는 분은<br>
            개인 회원으로 가입해주세요
          </div>
          <div class="underbar"></div>
        </div>
        <div class="business-button" (click)="goBusinessSignup()">
          <img class="signup-icon" src="../../../assets/images/business-icon.svg">
          <div class="signup-title">
            사업자 회원가입
          </div>
          <div class="signup-description">
            사업자번호가 있는 분은<br>
            사업자 회원으로 가입해주세요
          </div>
          <div class="underbar"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row hidden-md hidden-lg">
    <div class="col-xs-12">
      <div class="personal-button" (click)="goPersonalSignup()">
        <img class="signup-icon" src="../../../assets/images/personal-icon.svg">
        <div class="signup-title">
          개인 회원가입
        </div>
        <div class="signup-description">
          사업자번호가 없는 분은<br>
          개인 회원으로 가입해주세요
        </div>
        <div class="underbar"></div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="business-button" (click)="goBusinessSignup()">
        <img class="signup-icon" src="../../../assets/images/business-icon.svg">
        <div class="signup-title">
          사업자 회원가입
        </div>
        <div class="signup-description">
          사업자번호가 있는 분은<br>
          사업자 회원으로 가입해주세요
        </div>
        <div class="underbar"></div>
      </div>
    </div>
  </div>

</div>
