/* You can add global styles to this file, and also import other style files */

body {
  padding-top: 70px;
}

@media (min-width: 992px) {
  .container {
    width: 1170px;
  }
}

button:disabled,
button[disabled] {
  box-shadow: 0 2px 3px 0 rgba(157, 157, 157, 0.5);
  color: #aaaaaa;
  background-color: #ffffff;
  border-color: #aaaaaa;
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #fff;
}

.btn-tkit-mint {
  color: #fff;
  background-color: #62aab8;
  border-color: #59a2b0;
  box-shadow: 0 2px 4px 0 rgba(142, 142, 142, 0.5)
}

.btn-tkit-coral {
  color: #fff;
  background-color: #d87072;
  border-color: #ed7f81;
}


.label-tkit-mint {
  background-color: #62aab8;
}

.label-tkit-coral {
  background-color: #ed7f81;
}

.label-lg {
  font-size: 100%;
}

.btn-xlg {
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.length-check {
  float: right;
  color: grey;
}

.error-message {
  color: #ed7f81;
}

.owl-dt-container {
  display: block;
  font-size: 14px;
  background: #fff;
  pointer-events: auto;
  z-index: 1000;
}

.filebox {
  display: block;
}

.filebox label {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
}

.filebox input[type="file"] {
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn {
  width: 100%;
  height: 100%;
  border: 2px dashed gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.upload-btn-name {
  text-align: center;
  font-weight: 400;
}

.upload-btn-desc {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.tkit-mint-color {
  color: #62aab8;
}

.tkit-coral-color {
  color: #ed7f81;
}

.hangang-blue-color {
  color: #6794ca;
}

.ultra-bora-color {
  color: #8f6dab;
}

.mustard-norang-color {
  color: #f6d87f;
}

.tkit-mint-bg {
  background-color: #62aab8;
}

.tkit-coral-bg {
  background-color: #ed7f81;
}

.hangang-blue-bg {
  background-color: #6794ca;
}

.ultra-bora-bg {
  background-color: #8f6dab;
}

.mustard-norang-bg {
  background-color: #f6d87f;
}

.tds-label {
  font-size: 14px;
  color: #444444;
}

.tds-input {
  height: 55px;
  border-radius: 3px;
  font-size: 17px;
  font-weight: 500;
  color: #444444;
  background-color: #fbfbfb;
}

.tds-message-valid {
  color: #62aab8;
}

.tds-message-invalid {
  color: #ed7f81;
}

.ng-valid {
  border-color: #62aab8;
}

.ng-invalid {
  border-color: #ed7f81;
}

.ng-pristine {
  border: 1px solid #fbfbfb;
}

.empty-line {
  width: 1px;
  height: 14px;
  background-color: #ffffff;
  color: #ffffff;
}
