<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <a href="/home" class="site_title"><i class="fa fa-ticket"></i> <span>T.KIT</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile">
          <div class="profile_pic">
            <img [src]="admin_image" alt="..." class="img-circle profile_img">
          </div>
          <div class="profile_info">
            <span>Welcome,</span>
            <h2>{{admin_name}}</h2>
          </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="menu_section">
            <h3>Manager</h3>
            <ul class="nav side-menu">
              <li class="active"><a href="/home"><i class="fa fa-home"></i> Home </a></li>
              <li><a href="/notification"><i class="fa fa-bell"></i> Notification <span class="badge bg-green" *ngIf="notification_unread">N</span></a></li>
            </ul>
          </div>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
          <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
          </a>
          <a href="login" data-toggle="tooltip" data-placement="top" title="Logout">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
          </a>
        </div>
        <!-- /menu footer buttons -->
      </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
      <div class="nav_menu">
        <nav>
          <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li class="">
              <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <img [src]="admin_image" alt="">{{admin_name}}
                <span class=" fa fa-angle-down"></span>
              </a>
              <ul class="dropdown-menu dropdown-usermenu pull-right">
                <li><a href="javascript:;"> Profile</a></li>
                <li>
                  <a href="javascript:;">
                    <span class="badge bg-red pull-right">50%</span>
                    <span>Settings</span>
                  </a>
                </li>
                <li><a href="javascript:;">Help</a></li>
                <li><a href="login"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
              </ul>
            </li>

            <li role="presentation" class="dropdown">
              <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bell-o"></i>
                <span class="badge bg-green" *ngIf="notification_unread">N</span>
              </a>
              <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                <li *ngFor="let data of notifications">
                  <a>
                    <span>
                      <span *ngIf="!data.read" class="glyphicon glyphicon-user" aria-hidden="true"></span>
                      <span *ngIf="data.read" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </span>
                    <span>
                      <span>{{data.message}}</span>
                      <span class="time">{{data.created_at*1000 | date: 'yyyy-MM-dd hh:mm:ss'}}</span>
                    </span>
                    <span class="message">
                      invitation_oid: {{data.data.invitation_oid}}
                    </span>
                  </a>
                </li>
                <li>
                  <div class="text-center">
                    <a href="/notification">
                      <strong>See All Notifications</strong>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>The Final COUNTDOWN 2017 <small>by VU Ent.</small></h3>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Invitation <small>Total Users</small> ({{invitation_count}})</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                  <li><a (click)="loadInvitations()"><i class="fa fa-refresh"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <p class="text-muted font-13 m-b-30">
                </p>

                <!-- add invitation modal -->
                <button type="button" class="btn btn-dark glyphicon glyphicon-plus" data-toggle="modal" data-target=".bs-add-modal-sm"></button>
                <div class="modal fade bs-add-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">New Invitation</h4>
                      </div>
                      <div class="modal-body">
                        <form [formGroup]="invitation_form" class="form-horizontal form-label-left" (ngSubmit)="addInvitation(invitation_form.value)">
                          <div class="form-group" [ngClass]="{'has-error':!invitation_form.controls['name'].valid}">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="full-name">Full Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="full-name" required placeholder="츄~" class="form-control col-md-7 col-xs-12" name="name" [formControl]="invitation_form.controls['name']">
                            </div>
                          </div>
                          <div class="form-group" [ngClass]="{'has-error':!invitation_form.controls['mobile_number'].valid}">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mobile-number">Mobile Number <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="mobile-number" name="mobile-number" required placeholder="01064060628" class="form-control col-md-7 col-xs-12" name="mobile_number" [formControl]="invitation_form.controls['mobile_number']">
                            </div>
                          </div>
                          <div class="form-group" [ngClass]="{'has-error':!invitation_form.controls['birthday'].valid}">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="birthday">Birthday <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="birthday" class="form-control col-md-7 col-xs-12" required placeholder="20160628" name="birthday" [formControl]="invitation_form.controls['birthday']">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="email" class="form-control col-md-7 col-xs-12" required placeholder="chu@rjkorea.com" name="email" [formControl]="invitation_form.controls['email']">
                            </div>
                          </div>
                          <div class="form-group" [ngClass]="{'has-error':!invitation_form.controls['type'].valid}">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Invitation Type</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <select class="form-control" tabindex="-1" name="type" [formControl]="invitation_form.controls['type']">
                                <option></option>
                                <option value="토요일">토요일</option>
                                <option value="일요일">일요일</option>
                                <option value="토/일요일">토/일요일</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group" [ngClass]="{'has-error':!invitation_form.controls['gender'].valid}">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gender">Gender</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <div id="gender" class="btn-group">
                                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                  <input type="radio" name="gender" value="male" [formControl]="invitation_form.controls['gender']"> &nbsp; Male &nbsp;
                                </label>
                                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                  <input type="radio" name="gender" value="female" [formControl]="invitation_form.controls['gender']"> Female
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="ln_solid"></div>
                          <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                              <button type="submit" class="btn btn-primary" data-dismiss="modal" [disabled]="!invitation_form.valid" (click)="addInvitation(invitation_form.value)">Done</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- modal end -->

                <!-- edit invitation modal -->
                <div class="modal fade bs-edit-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Edit Invitation</h4>
                      </div>
                      <div class="modal-body">
                        <form [formGroup]="edit_invitation_form" class="form-horizontal form-label-left" (ngSubmit)="editInvitation(edit_invitation_form.value)">
                          <div class="form-group" [ngClass]="{'has-error':!edit_invitation_form.controls['name'].valid}">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="full-name">Full Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="full-name" required placeholder="츄~" class="form-control col-md-7 col-xs-12" name="name" [formControl]="edit_invitation_form.controls['name']">
                            </div>
                          </div>
                          <div class="form-group" [ngClass]="{'has-error':!edit_invitation_form.controls['mobile_number'].valid}">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mobile-number">Mobile Number <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="mobile-number" name="mobile-number" required placeholder="01064060628" class="form-control col-md-7 col-xs-12" name="mobile_number" [formControl]="edit_invitation_form.controls['mobile_number']">
                            </div>
                          </div>
                          <div class="form-group" [ngClass]="{'has-error':!edit_invitation_form.controls['birthday'].valid}">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="birthday">Birthday <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="birthday" class="form-control col-md-7 col-xs-12" required placeholder="20160628" name="birthday" [formControl]="edit_invitation_form.controls['birthday']">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="email" class="form-control col-md-7 col-xs-12" required placeholder="chu@rjkorea.com" name="email" [formControl]="edit_invitation_form.controls['email']">
                            </div>
                          </div>
                          <div class="form-group" [ngClass]="{'has-error':!edit_invitation_form.controls['type'].valid}">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Invitation Type</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <select class="form-control" tabindex="-1" name="type" [formControl]="edit_invitation_form.controls['type']">
                                <option></option>
                                <option value="토요일">토요일</option>
                                <option value="일요일">일요일</option>
                                <option value="토/일요일">토/일요일</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group" [ngClass]="{'has-error':!edit_invitation_form.controls['gender'].valid}">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gender">Gender</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <div id="gender" class="btn-group">
                                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                  <input type="radio" name="gender" value="male" [formControl]="edit_invitation_form.controls['gender']"> &nbsp; Male &nbsp;
                                </label>
                                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                  <input type="radio" name="gender" value="female" [formControl]="edit_invitation_form.controls['gender']"> Female
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="form-group" [ngClass]="{'has-error':!edit_invitation_form.controls['entered'].valid}">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="entered">Entrance</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="checkbox">
                                <label>
                                  <ui-switch size="small" [formControl]="edit_invitation_form.controls['entered']"></ui-switch>
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="ln_solid"></div>
                          <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                              <button type="submit" class="btn btn-primary" data-dismiss="modal" [disabled]="!edit_invitation_form.valid" (click)="editInvitation(edit_invitation_form.value)">Done</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- modal end -->
                <!-- table -->
                <div>
                  <label class="control-label" for="filter">Filter by Name or Mobile Number</label>
                  <input type="text" id="filter" required placeholder="input keyword" class="form-control col-md-7 col-xs-12" name="filter" [(ngModel)]="filter_query">
                </div>
                <table class="table table-striped table-responsive table-bordered" [mfData]="invitations | dataFilter: filter_query" #mf="mfDataTable" [mfRowsOnPage]="5">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>
                        <mfDefaultSorter by="name">Name</mfDefaultSorter>
                      </th>
                      <th>Mobile Number</th>
                      <th>Birthday</th>
                      <th>Invitation Type</th>
                      <th>Entrance</th>
                      <th>
                        <mfDefaultSorter by="updated_at">UpdateDate</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="created_at">CreateDate</mfDefaultSorter>
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of mf.data">
                      <td>#</td>
                      <td>{{data.name}}</td>
                      <td>{{data.mobile_number}}</td>
                      <td>{{data.birthday}}</td>
                      <td>{{data.type}}</td>
                      <td>
                        <span *ngIf="data.entered"><strong>입장</strong></span>
                        <span *ngIf="!data.entered">-</span>
                      </td>
                      <td>{{data.updated_at*1000 | date: 'yyyy-MM-dd hh:mm:ss'}}</td>
                      <td>{{data.created_at*1000 | date: 'yyyy-MM-dd hh:mm:ss'}}</td>
                      <td>
                        <button type="button" class="fa fa-edit" data-toggle="modal" data-target=".bs-edit-modal-sm" (click)="openEditInvitation(data)"></button>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="10">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                      </td>
                    </tr>
                  </tfoot>
                </table>
                <!-- table end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /page content -->

    <!-- footer content -->
    <footer>
      <div class="pull-right">
        T.KIT - Admin by <a href="http://rjkorea.com">RJ Korea Entertainment</a>
      </div>
      <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
  </div>
</div>
