<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
    <iframe src="http://localhost:5601/app/kibana#/dashboard/The-Final-Coutdown-2017?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3A'2016-12-30T03%3A00%3A00.000Z'%2Cmode%3Aabsolute%2Cto%3A'2016-12-31T18%3A00%3A00.000Z'))" height="1580" width="1080"></iframe>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
    <p class="text-right">TKIT - Admin by <a href="http://rjkorea.com">RJ Korea Entertainment</a></p>
  </div>
</div>
