@charset 'utf-8';

.row.bolder {
    color: #444444;
    font-size: 2.625rem;
    padding-bottom: 2.5rem;
}

.header {
    font-size: 1.25rem;
    padding: 0.625rem 0.75rem;
    color: white;
    background-color: #62aab8;
}

.title {
    display: inline-block;
    vertical-align: top;
    width: 93.5%;
}

.title .tag {
    font-size: 13px;
    margin-left: -2px;
    margin-right: 4px;
    color: #ed7f81;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title .bolder {
    font-size: 22px;
    color: #444444
}