<div class="container" *ngIf="!isCoverPopup">
  <div class="row bolder">행사 만들기</div>
  <div class="row">
    <div class="col-sm-5 hidden-xs hidden-sm stick-left">
      <div class="header">모바일 화면 미리보기</div>
      <div class="render">
        <span class="render-btn bold">적용하기</span>
        <span class="txt">버튼을 누르고 화면을 스크롤 해보세요</span>
      </div>
      <app-content-preview [previewData]="previewData"></app-content-preview>
    </div>
    <div class="col-sm-1 hidden-xs hidden-sm"></div>
    <div class="col-sm-6">

    <form>
      <div class="row">
        <div class="header">필수입력</div>
        <div class="form-group is-hidden">
          <div class="q-box">
            <span class="bold">행사 공개여부</span>
            <span class="q-mark"><img src="/assets/images/question-mark.svg"></span>
          </div>
          <label>
            <input type="checkbox" class="form-control check" id="check">
            <span>비공개</span>
          </label>
        </div>
        <div class="form-group f-title">
          <label class="tds-label bold">행사명</label>
          <div class="in"><input #name type="text" class="form-control tds-input" placeholder="예) 티킷 페스티벌 2022" (keyup)="checkBytes(name, byteName)" (change)="checkBytes(name, byteName)"></div>
          <div class="bytes"><span #byteName>0</span> / 120 Bytes</div>
        </div>
        <div class="form-group category">
          <label class="tds-label bold">카테고리 <span class="default">(중복선택 가능)</span></label>
          <div class="pkg-box">
            <div class="pkg1">
              <label>
                <input type="checkbox" class="form-control check">
                <span>전시</span>
              </label>
              <label>
                <input type="checkbox" class="form-control check">
                <span>쿠폰</span>
              </label>
            </div>
            <div class="pkg2">
              <label>
                <input type="checkbox" class="form-control check">
                <span>공연</span>
              </label>
              <label>
                <input type="checkbox" class="form-control check">
                <span>세미나</span>
              </label>
            </div>
            <div class="pkg3">
              <label>
                <input type="checkbox" class="form-control check">
                <span>콘서트</span>
              </label>
              <label>
                <input type="checkbox" class="form-control check">
                <span>초대장</span>
              </label>
            </div>
            <div class="pkg4">
              <label>
                <input type="checkbox" class="form-control check">
                <span>페스티벌</span>
              </label>
              <label>
                <input type="checkbox" class="form-control check">
                <span>청첩장</span>
              </label>
            </div>
            <div class="pkg5">
              <label>
                <input type="checkbox" class="form-control check">
                <span>클럽</span>
              </label>
              <label>
                <input type="checkbox" class="form-control check">
                <span>기타</span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="tds-label bold">행사 대표 이미지</label>
          <div class="img-container hidden-md hidden-lg">
            <div class="img-box thum-box">
              <ng-container *ngIf="croppedImg">
                <img [src]="croppedImg">
              </ng-container>
              <ng-container *ngIf="!croppedImg">
                <div class="desc-box">
                  <span class="bold">눌러서 이미지를 업로드 해주세요</span><br>권장 이미지 사이즈 10MB 이하<br>2160 x 1080 px (2:1 비율)
                </div>
              </ng-container>
              <input type="file" name="file" (change)="changeImage($event, 'm')">
            </div>
          </div>
          <div class="img-container hidden-xs hidden-sm">
            <div class="img-box thum-box">
              <ng-container *ngIf="croppedImg">
                <img [src]="croppedImg">
              </ng-container>
              <ng-container *ngIf="!croppedImg">
                <div class="desc-box">
                  <span class="bold">눌러서 이미지를 업로드 해주세요</span><br>권장 이미지 사이즈 10MB 이하<br>2160 x 1080 px (2:1 비율)
                </div>
              </ng-container>
              <input type="file" name="file" (change)="changeImage($event, 'pc')">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="tds-label bold">행사 장소</label>
          <div class="img-container">
            <div class="img-box">
                <div class="desc-box">
                  <span class="bold">눌러서 장소를 검색해주세요</span><br>(지도로 표시됩니다)
                </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="tds-label bold">행사 일시</label>
          <div class="calendar-box">
            <div class="time-box">
              <label>시작</label>
              <img src="/assets/images/calendar.svg">
              <input #mFromDate type="text" class="form-control tds-input hidden-md hidden-lg" placeholder="YYYY-MM-DD" (click)="openCalendar('m', 'from')">
              <input #pcFromDate type="text" class="form-control tds-input hidden-xs hidden-sm" placeholder="YYYY-MM-DD" (click)="openCalendar('pc', 'from')">
              <img src="/assets/images/watch.svg">
              <select class="form-control tds-input tds-select" required>
                <option value="" hidden>12</option>
                <option value="00">00</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
              </select>
              &nbsp;&nbsp;:&nbsp;&nbsp;
              <select class="form-control tds-input tds-select" required>
                <option value="" hidden>00</option>
                <option value="00">00</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
              </select>
            </div>
            <div class="time-box">
              <label>종료</label>
              <img src="/assets/images/calendar.svg">
              <input #mToDate type="text" class="form-control tds-input hidden-md hidden-lg" placeholder="YYYY-MM-DD" (click)="openCalendar('m', 'to')">
              <input #pcToDate type="text" class="form-control tds-input hidden-xs hidden-sm" placeholder="YYYY-MM-DD" (click)="openCalendar('pc', 'to')">
              <img src="/assets/images/watch.svg">
              <select class="form-control tds-input tds-select" required>
                <option value="" hidden>12</option>
                <option value="00">00</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
              </select>
              &nbsp;&nbsp;:&nbsp;&nbsp;
              <select class="form-control tds-input tds-select" required>
                <option value="" hidden>00</option>
                <option value="00">00</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group host">
          <div class="info-box">
            <div class="bold">주최자 정보</div>
            <span class="txt">주최자 정보를 입력하지 않으면 회원가입 시 입력한 주최자(주최사) 이름/이메일 주소/핸드폰 번호(회사 연락처)로 표시됩니다</span>
          </div>
          <div class="info-btn">입력하기</div>
        </div>
      </div>

      <div class="row">
        <div class="header">선택입력(행사 상세정보)</div>
        <div class="form-group">
          <label class="tds-label bold">행사 홈페이지</label>
          <input type="text" class="form-control tds-input" placeholder="예) https://tkit.kr">
        </div>
        <div class="form-group">
          <label class="tds-label bold">행사 관련 동영상 URL</label>
          <input type="text" class="form-control tds-input" placeholder="예) https://tkit.kr">
          <div class="video-txt">유튜브URL 이외 동영상URL은 링크로만 표시됩니다</div>
        </div>
        <div class="form-group">
          <label class="tds-label bold">행사 공지사항</label>
          <input type="text" class="form-control tds-input hidden-xs hidden-sm" placeholder="행사 공지사항을 입력해주세요">
          <div class="m-textarea hidden-md hidden-lg"><input type="text" class="form-control tds-input" placeholder="행사 공지사항을 입력해주세요" disabled></div>
        </div>
        <div class="form-group">
          <label class="tds-label bold">행사 상세설명</label>
          <input type="text" class="form-control tds-input hidden-xs hidden-sm" placeholder="행사 상세설명을 입력해주세요">
          <div class="m-textarea hidden-md hidden-lg"><input type="text" class="form-control tds-input" placeholder="행사 공지사항을 입력해주세요" disabled></div>
        </div>
        <div class="form-group">
          <label class="tds-label bold">추가 이미지 <span class="default">(순서대로 업로드 됩니다)</span></label>
          <div class="extra-container">
            <ng-container *ngFor="let img of images; let i = index">
              <div class="extra-box">
                <span>{{ i + 1 }}</span>
                <i class="fa fa-plus fa-2x"></i>
                <input type="file" name="file">
              </div>
            </ng-container>
          </div>
        </div>
        <div class="form-group book">
          <label class="bold">방명록</label>
          <label>
            <input type="checkbox" class="form-control check">
            <span>비공개</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="hidden-xs hidden-sm">
          <button class="btn btn-tkit-mint btn-block btn-base">완 료</button> <!-- [disabled]="!loginForm.valid" -->
        </div>
        <div class="hidden-md hidden-lg">
          <button class="btn btn-preview btn-base btn-short">미리보기</button>
          <button class="btn btn-tkit-mint btn-base btn-short right">완 료</button>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>

<ng-container *ngIf="isCoverPopup">
  <app-content-cropper [isCoverPopup]="isCoverPopup" (controlCoverPopup)="controlCoverPopup($event)"></app-content-cropper>
</ng-container>