<ng-template [ngIf]="is_loading">
  <app-loader></app-loader>
</ng-template>

<div class="container" [hidden]="isCoverPopup">
  <div *ngIf="!isEdit" class="row bolder">행사 만들기</div>
  <div *ngIf="isEdit" class="row bolder">행사 수정하기</div>
  <div class="row">
    <div class="col-sm-5 hidden-xs hidden-sm stick-left">
      <div class="header">모바일 화면 미리보기</div>
      <div class="render">
        <span class="render-btn bold" (click)="setPreview('pc')">적용하기</span>
        <span class="txt">버튼을 누르고 화면을 스크롤 해보세요</span>
      </div>
      <app-content-preview [previewData]="previewData"></app-content-preview>
    </div>
    <div class="col-sm-1 hidden-xs hidden-sm"></div>
    <div class="col-sm-6">

    <form [formGroup]="contentsForm">
      <div class="row">
        <div class="header">필수입력</div>
        <div class="form-group is-hidden">
          <div class="q-box">
            <span class="bold">행사 공개여부</span>
            <span class="u-toggle-container q-mark hidden-xs hidden-sm" (mouseover)="utils.getTogglePopup(toggle)" (mouseout)="utils.getTogglePopup(toggle)">
              <img src="/assets/images/question-mark.svg">
              <div #toggle class="u-toggle"><app-content-is-private></app-content-is-private></div>
            </span>
            <span class="q-mark hidden-md hidden-lg" (click)="openDescriptionPopup('isPrivate')">
              <img src="/assets/images/question-mark.svg">
            </span>
          </div>
          <label>
            <input type="checkbox" class="form-control check" formControlName="isPrivate">
            <span>비공개</span>
          </label>
        </div>
        <div class="form-group f-title">
          <label class="tds-label bold">행사명</label>
          <div class="in">
            <input #name type="text" class="form-control tds-input" formControlName="contentsName" placeholder="예) 티킷 페스티벌 2022" (keyup)="checkBytes(name, byte)">
          </div>
          <div class="bytes"><span #byte>0</span> / {{ maxByte40 }} Bytes</div>
        </div>
        <div class="form-group category">
          <label class="tds-label bold">카테고리 <span class="default">(중복선택 가능)</span></label>
          <div class="pkg-box">
            <div class="pkg1">
              <label>
                <input type="checkbox" class="form-control check" formControlName="exhibition">
                <span>전시</span>
              </label>
              <label>
                <input type="checkbox" class="form-control check" formControlName="coupon">
                <span>쿠폰</span>
              </label>
            </div>
            <div class="pkg2">
              <label>
                <input type="checkbox" class="form-control check" formControlName="play">
                <span>공연</span>
              </label>
              <label>
                <input type="checkbox" class="form-control check" formControlName="seminar">
                <span>세미나</span>
              </label>
            </div>
            <div class="pkg3">
              <label>
                <input type="checkbox" class="form-control check" formControlName="concert">
                <span>콘서트</span>
              </label>
              <label>
                <input type="checkbox" class="form-control check" formControlName="invitation">
                <span>초대장</span>
              </label>
            </div>
            <div class="pkg4">
              <label>
                <input type="checkbox" class="form-control check" formControlName="festival">
                <span>페스티벌</span>
              </label>
              <label>
                <input type="checkbox" class="form-control check" formControlName="wedding">
                <span>청첩장</span>
              </label>
            </div>
            <div class="pkg5">
              <label>
                <input type="checkbox" class="form-control check" formControlName="club">
                <span>클럽</span>
              </label>
              <label>
                <input type="checkbox" class="form-control check" formControlName="etc">
                <span>기타</span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="tds-label bold">행사 대표 이미지</label>
          <div class="img-container">
            <div class="img-box thum-box">
              <ng-container *ngIf="croppedImg">
                <img [src]="croppedImg">
              </ng-container>
              <ng-container *ngIf="!croppedImg">
                <div class="desc-box">
                  <span class="bold">눌러서 이미지를 업로드 해주세요</span>권장 이미지 사이즈 2MB 이하<br>2:1 비율
                </div>
              </ng-container>
              <input #mMainImg id="mMainImg" type="file" name="file" class="hidden-md hidden-lg" (change)="changeMainImg($event, 'm')" (click)="initFileInput(mMainImg)">
              <input #pcMainImg id="pcMainImg" type="file" name="file" class="hidden-xs hidden-sm" (change)="changeMainImg($event, 'pc')" (click)="initFileInput(pcMainImg)">
            </div>
            <div *ngIf="croppedImg" class="img-desc">
              <div>파일크기: {{ croppedImgSize | fileSizeFormat: 2 }}</div>
              <div class="tkit-coral-color">
                <label class="hidden-md hidden-lg" for="mMainImg"><img src="/assets/images/edit-button.png">수정하기</label>
                <label class="hidden-xs hidden-sm" for="pcMainImg"><img src="/assets/images/edit-button.png">수정하기</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="tds-label bold">행사 장소</label>
          <div class="img-container">
            <div class="img-box place-box">
              <ng-container *ngIf="placeObj">
                <agm-map [latitude]="placeY" [longitude]="placeX" [zoom]="14" style="height: 15rem">
                  <agm-marker [latitude]="placeY" [longitude]="placeX"></agm-marker>
                </agm-map>
              </ng-container>
              <ng-container *ngIf="!placeObj">
                <div class="desc-box hidden-md hidden-lg" (click)="openPlaceMap('m')">
                  <span class="bold">눌러서 장소를 검색해주세요</span>(지도로 표시됩니다)
                </div>
                <div class="desc-box hidden-xs hidden-sm" (click)="openPlaceMap('pc')">
                  <span class="bold">눌러서 장소를 검색해주세요</span>(지도로 표시됩니다)
                </div>
              </ng-container>
            </div>
            <div *ngIf="placeObj" class="img-desc">
              <div>{{ placeObj?.road_address_name }} {{ placeObj?.place_name }}</div>
              <div class="tkit-coral-color">
                <label class="hidden-md hidden-lg" (click)="openPlaceMap('m')"><img src="/assets/images/edit-button.png">수정하기</label>
                <label class="hidden-xs hidden-sm" (click)="openPlaceMap('pc')"><img src="/assets/images/edit-button.png">수정하기</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="tds-label bold">행사 일시</label>
          <div class="calendar-box">
            <div class="time-box">
              <label>시작</label>
              <img src="/assets/images/calendar.svg">
              <input #mFromDate type="text" class="form-control tds-input hidden-md hidden-lg" placeholder="YYYY-MM-DD" formControlName="mFromDate" (click)="openCalendar('m', 'from', mFromDate)">
              <input #pcFromDate type="text" class="form-control tds-input hidden-xs hidden-sm" placeholder="YYYY-MM-DD" formControlName="pcFromDate" (click)="openCalendar('pc', 'from', pcFromDate)">
              <img src="/assets/images/watch.svg">
              <select class="form-control tds-input tds-select" formControlName="fromHours" required>
                <option value="" hidden>시</option>
                <option value="00">00</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
              </select>
              &nbsp;&nbsp;:&nbsp;&nbsp;
              <select class="form-control tds-input tds-select" formControlName="fromMins" required>
                <option value="" hidden>분</option>
                <option value="00">00</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
              </select>
            </div>
            <div class="time-box">
              <label>종료</label>
              <img src="/assets/images/calendar.svg">
              <input #mToDate type="text" class="form-control tds-input hidden-md hidden-lg" placeholder="YYYY-MM-DD" formControlName="mToDate" (click)="openCalendar('m', 'to', mToDate)">
              <input #pcToDate type="text" class="form-control tds-input hidden-xs hidden-sm" placeholder="YYYY-MM-DD" formControlName="pcToDate" (click)="openCalendar('pc', 'to', pcToDate)">
              <img src="/assets/images/watch.svg">
              <select class="form-control tds-input tds-select" formControlName="toHours" required>
                <option value="" hidden>시</option>
                <option value="00">00</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
              </select>
              &nbsp;&nbsp;:&nbsp;&nbsp;
              <select class="form-control tds-input tds-select"formControlName="toMins" required>
                <option value="" hidden>분</option>
                <option value="00">00</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group host">
          <div class="info-box">
            <div class="bold">주최자 정보</div>
            <span class="txt">주최자 정보를 입력하지 않으면 회원가입 시 입력한 주최자(주최사) 이름/일 주소/핸드폰 번호(회사 연락처)로 표시됩니다</span>
          </div>
          <div class="info-btn hidden-md hidden-lg" (click)="openHostInfo('m')">입력하기</div>
          <div class="info-btn hidden-xs hidden-sm" (click)="openHostInfo('pc')">입력하기</div>
        </div>
      </div>

      <div class="row">
        <div class="header">선택입력(행사 상세정보)</div>
        <div class="form-group">
          <label class="tds-label bold">행사 홈페이지</label>
          <input type="text" class="form-control tds-input" formControlName="siteUrl" placeholder="예) https://tkit.kr">
        </div>
        <div class="form-group">
          <label class="tds-label bold">행사 관련 동영상 URL</label>
          <input type="text" class="form-control tds-input" formControlName="videoUrl" placeholder="예) https://www.youtube.com/watch">
          <div class="video-txt">유튜브URL 이외 동영상URL은 링크로만 표시됩니다</div>
        </div>

        <div *ngIf="this.contentsForm.get('videoUrl').value && getYoutubeEmbedLink(this.contentsForm.get('videoUrl').value)" class="video">
          <iframe class="youtube" [src]="getYoutubeEmbedLink(this.contentsForm.get('videoUrl').value) | safe" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>



        <div class="form-group">
          <label class="tds-label bold">행사 공지사항</label>
          <textarea type="text" class="form-control tds-input" formControlName="notice" placeholder="행사 공지사항을 입력해주세요"></textarea>
          <!-- <div class="m-textarea hidden-md hidden-lg"><input type="text" class="form-control tds-input" placeholder="행사 공지사항을 입력해주세요" disabled></div> -->
        </div>
        <div class="form-group">
          <label class="tds-label bold">행사 상세설명</label>
          <textarea type="text" class="form-control tds-input" formControlName="description" placeholder="행사 상세설명을 입력해주세요"></textarea>
          <!-- <div class="m-textarea hidden-md hidden-lg"><input type="text" class="form-control tds-input" placeholder="행사 공지사항을 입력해주세요" disabled></div> -->
        </div>
        <div class="form-group">
          <label class="tds-label bold">추가 이미지 <span class="default">(최대 6장, 순서대로 업로드 됩니다)</span></label>
          <div class="extra-container">
            <ng-container *ngFor="let thum of thumbnails; let i = index">
              <div class="extra-box">
                <span>{{ i + 1 }}</span>
                <i class="fa fa-plus fa-2x"></i>
                <input #extraFile id="extraFile" type="file" name="file" (change)="changeExtraImg($event, i)" (click)="initFileInput(extraFile)">
                <div class="mini-thum-box" [ngStyle]="{'background': 'url(' + thum + ')', 'background-size': 'cover', 'background-repeat': 'no-repeat', 'background-position': 'center'}"></div>
                <ng-container *ngIf="thum">
                  <div class="mini-thum-overlay"></div>
                  <!-- <label *ngIf="isEdit" class="mini-thum-txt" for="extraFile">수정하기</label> -->
                  <img class="mini-thum-overlay-close" src="/assets/images/close-white-bold.png" (click)="removeExtraImg(i)">
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="form-group">
          <label class="tds-label bold">티켓 구매하기 링크</label>
          <input type="text" class="form-control tds-input" formControlName="purchaseUrl" placeholder="예) https://www.tkit.kr/product/rapbeat-01">
        </div>
        <div class="form-group">
          <label class="tds-label bold">STAFF 인증코드 <span class="default">(숫자 4자리)</span></label>
          <input type="text" class="form-control tds-input" formControlName="staffAuthCode" placeholder="예) 7178">
          <div *ngIf="staffAuthCode.invalid && (staffAuthCode.dirty || staffAuthCode.touched)" class="tds-message-invalid">
              숫자 4자리를 입력해주세요
          </div>
        </div>
        <div class="form-group">
          <label class="tds-label bold">밴딩수령장소 <span class="default">(옵션)</span></label>
          <input type="text" class="form-control tds-input" formControlName="bandPlace" placeholder="예) EXCHANGE 부스">
          <div *ngIf="bandPlace.invalid && (bandPlace.dirty || bandPlace.touched)" class="tds-message-invalid">
          </div>
        </div>
        <div class="form-group">
          <label class="tds-label bold">행사 기본 문자메세지</label>
          <textarea type="text" class="form-control tds-input" formControlName="sms" placeholder="행사 기본 문자메세지를 입력해주세요"></textarea>
        </div>
        <div class="form-group book">
          <label class="bold">방명록</label>
          <label>
            <input type="checkbox" class="form-control check" formControlName="commentsPrivate">
            <span>비공개</span>
          </label>
        </div>
        <div class="form-group">
          <div class="hidden_copy"><input #urlInput type="text" contentEditable="true" readonly></div>
          <div id="copy_link" class="bold" (click)="copyUrl(urlInput)">공유 링크 복사하기&nbsp;<span class="glyphicon glyphicon-copy" aria-hidden="true"></span></div>
        </div>
      </div>
      <div class="row">
        <div class="hidden-xs hidden-sm">
          <button class="btn btn-tkit-mint btn-block btn-base" [disabled]="!contentsForm.valid" (click)="done()">완 료</button>
        </div>
        <div class="hidden-md hidden-lg">
          <button class="btn btn-preview btn-base btn-short" (click)="setPreview('m')">미리보기</button>
          <button class="btn btn-tkit-mint btn-base btn-short right" [disabled]="!contentsForm.valid" (click)="done()">완 료</button>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>

<div *ngIf="isCoverPopup">
  <app-content-cropper *ngIf="typeCoverPopup === 'cropper'" [isCoverPopup]="isCoverPopup" (controlCoverPopup)="controlCoverPopup($event)"></app-content-cropper>
  <app-content-place-map *ngIf="typeCoverPopup === 'map'" [isCoverPopup]="isCoverPopup" (controlCoverPopup)="controlCoverPopup($event)"></app-content-place-map>
  <app-content-host-info *ngIf="typeCoverPopup === 'host'" [isCoverPopup]="isCoverPopup" (controlCoverPopup)="controlCoverPopup($event)"></app-content-host-info>
  <app-content-preview *ngIf="typeCoverPopup === 'preview'" [previewData]="previewData" [isCoverPopup]="isCoverPopup" (controlCoverPopup)="controlCoverPopup($event)"></app-content-preview>
</div>
