<ng-template [ngIf]="is_loading">
  <app-loader></app-loader>
</ng-template>

<ng-template [ngIf]="!is_loading">
  <div *ngIf="count">
    <div class="row">
      <div class="col-md-11">
        <ol class="breadcrumb">
          <li><a [routerLink]="['/ticket/type']">{{orders[0].content.name}} {{orders[0].ticket_type.name}}</a></li>
          <!--<li class="active">Orders</li>-->
        </ol>
        <h3>티켓오더 <span class="badge">{{count}}</span></h3>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-success" (click)="onNew()">티켓오더 만들기</button>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <th>생성일자</th>
              <th>받는사람 이름</th>
              <th>받는사람 핸드폰번호</th>
              <th>환경부담금</th>
              <th>티켓수량</th>
              <th></th>
              <th>전송일시</th>
            </tr>
            <tr *ngFor="let o of orders">
              <td><a [routerLink]="['/ticket/order', o._id]">{{o.created_at | amFromUnix | amDateFormat:'YYYY-MM-DD'}}</a></td>
              <td>{{o.receiver.name}}</td>
              <td>{{o.receiver.mobile_number}}</td>
              <td><span *ngIf="o.fee">{{o.fee.price | currency: 'KRW': true}}</span></td>
              <td>
                <button class="btn btn-default btn-sm" type="button" (click)="onTicket(o._id)">
                  Tickets <span class="badge">{{o.qty}}</span>
                </button>
              </td>
              <td>
                <ng-template [ngIf]="!o.slug">
                  <button type="button" class="btn btn-default btn-sm" (click)="onSms(o)" data-toggle="modal" data-target="#send-modal">
                    <!--<span class="glyphicon glyphicon-send" aria-hidden="true"></span> SMS전송-->
                    <i class="fa fa-comment fa-lg" aria-hidden="true"></i> SMS전송
                    <span class="badge">{{o.receiver.sms.count}}</span>
                  </button>
                  <!-- Send Modal -->
                  <div class="modal fade" id="send-modal" tabindex="-1" role="dialog" aria-labelledby="send-modal-label">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="disable-modal-label">전송 - SMS 받는사람</h4>
                        </div>
                        <div class="modal-body">
                          <p *ngIf="selected_order"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{selected_order.receiver.name}}</p>
                          <p *ngIf="selected_order"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> {{selected_order.receiver.mobile_number}}</p>
                          <div *ngIf="selected_order" class="form-group">
                            <textarea type="text" class="form-control" rows="9" [(ngModel)]="sms_message"></textarea>
                          </div>
                          <p>전송받은 사람의 이름과 전화번호로 인증을 거쳐야만 티켓 확인 및 등록이 가능합니다.</p>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSend(selected_order._id)">SEND</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template [ngIf]="o.slug">
                  <a href="http://i.tkit.me/hard/{{o.slug}}">{{o.slug}}</a>
                </ng-template>
              </td>
              <td>
                <span *ngIf="o.receiver.sms.sent_at">{{o.receiver.sms.sent_at | amFromUnix | amTimeAgo: true}} ago</span>
                <span *ngIf="!o.receiver.sms.sent_at">전송대기</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="...">
            <ul class="pager">
              <li *ngIf="page!=1"><a (click)="onPrev()">이전</a></li>
              <li *ngIf="page*size<count"><a (click)="onNext()">다음</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <div *ngIf="!!!count">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></h1>
          <h4 class="text-center">No results matched your search.</h4>
        </div>
      </div>
      <hr />
    </div>

  </div>

  <div *ngIf="!count">
    <div class="row">
      <div class="col-md-11">
        <h3>티켓오더 <span class="badge">{{count}}</span></h3>
      </div>
      <div class="col-md-1">
        <p><a routerLink="/ticket/orders/new" class="btn btn-success" role="button">티켓오더 만들기</a></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
      <p class="text-right">TKIT - Admin by <a href="http://rjkorea.com">RJ Korea Entertainment</a></p>
    </div>
  </div>
</ng-template>
