<div *ngIf="order">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Ticket Order</h3>
        </div>
        <div class="panel-body">
          <div class="stats">
            <span *ngIf="order.enabled" class="label label-success">enabled</span>
            <span *ngIf="!order.enabled" class="label label-danger">disabled</span>
          </div>
          <br>
          <ul class="list-group">
            <li *ngIf="order.parent_oid" class="list-group-item"><strong>Parent ID: </strong>{{order.parent_oid}}</li>
            <li class="list-group-item"><strong>ID: </strong>{{order._id}}</li>
            <li class="list-group-item"><strong>Quantity: </strong>{{order.qty}}</li>
            <li class="list-group-item"><strong>Expiry at: </strong>{{order.expiry_date | amFromUnix | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</li>
            <li class="list-group-item"><strong>Updated at: </strong>{{order.updated_at | amFromUnix | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</li>
            <li class="list-group-item"><strong>Created at: </strong>{{order.created_at | amFromUnix | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</li>
          </ul>
          <ul class="list-group">
            <li class="list-group-item list-group-item-info"><strong>Type</strong></li>
            <li class="list-group-item"><strong>Name: </strong>{{order.ticket_type.name}}</li>
            <li class="list-group-item"><strong>Description: </strong>{{order.ticket_type.desc}}</li>
            <li class="list-group-item"><strong>Day: </strong>{{order.ticket_type.day}}</li>
            <li class="list-group-item"><strong>Price: </strong>{{order.ticket_type.price | currency: 'KRW': true}}</li>
          </ul>
          <ul class="list-group">
            <li class="list-group-item list-group-item-info"><strong>Receiver</strong></li>
            <li class="list-group-item"><strong>Name: </strong>{{order.receiver.name}}</li>
            <li class="list-group-item"><strong>Mobile Number: </strong>{{order.receiver.mobile_number}}</li>
          </ul>
          <ul *ngIf="order.fee" class="list-group">
            <li class="list-group-item list-group-item-info"><strong>Fee</strong></li>
            <li class="list-group-item"><strong>Method: </strong>{{order.fee.method}}</li>
            <li class="list-group-item"><strong>Price: </strong>{{order.fee.price | currency: 'KRW': true}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
      <p class="text-right">TKIT - Admin by <a href="http://rjkorea.com">RJ Korea Entertainment</a></p>
    </div>
  </div>
</div>
