<ng-template [ngIf]="is_loading">
  <app-loader></app-loader>
</ng-template>

<div class="row">
    <div class="col-md-11">
    </div>
    <div class="col-md-1">
      <p><a routerLink="/ticket/orders/new" class="btn btn-success" role="button">New</a></p>
    </div>
</div>


<ng-template [ngIf]="!is_loading">
  <div *ngIf="count">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a [routerLink]="['/ticket/type']">{{orders[0].content.name}} {{orders[0].ticket_type.name}}</a></li>
          <!--<li class="active">Orders</li>-->
        </ol>
        <h3>Orders <span class="badge">{{count}}</span></h3>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <th>생성일자</th>
              <th>받는사람 이름</th>
              <th>받는사람 핸드폰번호</th>
              <th>환경부담금</th>
              <th>티켓수량</th>
              <th></th>
            </tr>
            <tr *ngFor="let o of orders">
              <td><a [routerLink]="['/ticket/order', o._id]">{{o.created_at | amFromUnix | amDateFormat:'YYYY-MM-DD'}}</a></td>
              <td>{{o.receiver.name}}</td>
              <td>{{o.receiver.mobile_number}}</td>
              <td><span *ngIf="o.fee">{{o.fee.price | currency: 'KRW': true}}</span></td>
              <td>
                <button class="btn btn-default" type="button" (click)="onTicket(o._id)">
                  Tickets <span class="badge">{{o.qty}}</span>
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-default btn-sm" (click)="onSend(o._id)">
                  <span class="glyphicon glyphicon-send" aria-hidden="true"></span> SMS전송
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <nav aria-label="...">
        <ul class="pager">
          <li *ngIf="page!=1"><a (click)="onPrev()">Previous</a></li>
          <li *ngIf="page*size<count"><a (click)="onNext()">Next</a></li>
        </ul>
      </nav>
    </div>

    <div *ngIf="!!!count">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></h1>
          <h4 class="text-center">No results matched your search.</h4>
        </div>
      </div>
      <hr />
    </div>

  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
      <p class="text-right">TKIT - Admin by <a href="http://rjkorea.com">RJ Korea Entertainment</a></p>
    </div>
  </div>
</ng-template>
