<div *ngIf="order">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">티켓전송</h3>
        </div>
        <div class="panel-body">
          <br>
          <ul class="list-group">
            <li *ngIf="order.parent_oid" class="list-group-item"><strong>부모 아이디: </strong>{{order.parent_oid}}</li>
            <li class="list-group-item"><strong>아이디: </strong>{{order._id}}</li>
            <li class="list-group-item"><strong>수량: </strong>{{order.qty | number: '0.0-0'}}</li>
            <li class="list-group-item"><strong>전송일시: </strong>{{order.created_at | amFromUnix | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</li>
          </ul>
          <ul class="list-group">
            <li class="list-group-item list-group-item-info"><strong>티켓타입</strong></li>
            <li class="list-group-item"><strong>이름: </strong>{{order.ticket_type.name}}</li>
            <li class="list-group-item"><strong>설명: </strong>{{order.ticket_type.desc.value}}</li>
            <li class="list-group-item"><strong>가격: </strong>{{order.ticket_type.price | number: '0.0-0'}}</li>
            <li class="list-group-item"><strong>유효기간: </strong>{{order.ticket_type.sales_date.start | amFromUnix | amDateFormat:'YYYY-MM-DD HH:mm:ss'}} ~ {{order.ticket_type.sales_date.end | amFromUnix | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</li>
          </ul>
          <ul class="list-group">
            <li class="list-group-item list-group-item-info"><strong>받는사람</strong></li>
            <li class="list-group-item"><strong>이름: </strong>{{order.receiver.name}}</li>
            <li class="list-group-item"><strong>핸드폰 국가코드: </strong>{{order.receiver.mobile.country_code}}</li>
            <li class="list-group-item"><strong>핸드폰 번호: </strong>{{order.receiver.mobile.number}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
