<ng-template [ngIf]="is_loading">
  <app-loader></app-loader>
</ng-template>

<!--<div class="row">
  <div class="col-md-6">
    <ng-template [ngIf]="checkRole()">
      <br>
      <div class="form-group">
        <select class="form-control" name="content" [(ngModel)]="content_oid" (ngModelChange)="changeContent()">
          <ng-container *ngFor="let c of contents">
            <option [ngValue]="c._id">{{c.name}} ({{c.company.name}})</option>
          </ng-container>
        </select>
      </div>
    </ng-template>
  </div>
</div>-->

<div *ngIf="!is_loading">
  <div *ngIf="count">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a [routerLink]="['/ticket/type']">{{tickets[0].content.name}} {{tickets[0].ticket_type.name}}</a></li>
          <li><a [routerLink]="['/ticket/order', {ticket_type_oid: tickets[0].ticket_type._id}]">{{tickets[0].ticket_order.receiver.name}} {{tickets[0].ticket_order.qty}}장</a></li>
          <!--<li class="active">Orders</li>-->
        </ol>
        <h3>티켓 <span class="badge">{{count}}</span></h3>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <th>수정일시</th>
              <th>시리얼넘버</th>
              <th>티켓상태</th>
              <th>받은사람</th>
              <th>핸드폰번호</th>
              <th>성별</th>
              <th></th>
              <th></th>
            </tr>
            <tr *ngFor="let t of tickets">
              <td><a [routerLink]="['/ticket', t._id]">{{t.updated_at | amFromUnix | amDateFormat:'YYYY-MM-DD hh:mm:ss'}}</a></td>
              <td><span *ngIf="t.serial_number">{{t.serial_number}}</span></td>
              <td>
                <span *ngIf="t.status === 'pend'" class="label label-default">전송준비</span>
                <span *ngIf="t.status === 'send'" class="label label-warning">전송중</span>
                <span *ngIf="t.status === 'register'" class="label label-success">등록완료</span>
                <span *ngIf="t.status === 'pay'" class="label label-primary">결제완료</span>
                <span *ngIf="t.status === 'use'" class="label label-info">입장완료</span>
                <span *ngIf="t.status === 'cancel'" class="label label-danger">취소</span>
              </td>
              <td><span *ngIf="t.receive_user"><a [routerLink]="['/user', t.receive_user._id]">{{t.receive_user.name}}</a></span></td>
              <td><span *ngIf="t.receive_user">{{t.receive_user.mobile_number}}</span></td>
              <td><span *ngIf="t.receive_user && t.receive_user.gender">{{t.receive_user.gender}}</span></td>
              <td>
                <button *ngIf="t.status === 'register' || t.status === 'send'" type="button" class="btn btn-default btn-sm" (click)="onSmsModal(t)" data-toggle="modal" data-target="#send-modal">
                  <i class="fa fa-comment fa-lg" aria-hidden="true"></i> SMS전송
                </button>
                <!-- Send Modal -->
                <div class="modal fade" id="send-modal" tabindex="-1" role="dialog" aria-labelledby="send-modal-label">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="disable-modal-label">전송 - SMS 받는사람</h4>
                      </div>
                      <div class="modal-body">
                        <p *ngIf="selected_ticket"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{selected_ticket.receive_user.name}}</p>
                        <p *ngIf="selected_ticket"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> {{selected_ticket.receive_user.mobile_number}}</p>
                        <div *ngIf="selected_ticket" class="form-group">
                          <textarea type="text" class="form-control" rows="9" [(ngModel)]="sms_message"></textarea>
                        </div>
                        <p>Send 받은 사람의 이름과 전화번호로 인증을 거쳐야만 티켓 확인 및 등록이 가능합니다.</p>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSend(selected_ticket._id)">SEND</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <button *ngIf="t.status === 'register' || t.status === 'send'" type="button" class="btn btn-danger btn-sm" (click)="onCancelModal(t)" data-toggle="modal" data-target="#cancel-modal">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"> 티켓취소</span>
                </button>
                <!-- Cancel Modal -->
                <div class="modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-labelledby="cancel-modal-label">
                  <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="disable-modal-label">티켓 취소</h4>
                      </div>
                      <div class="modal-body">
                        <h5>티켓 취소 시 행사 입장이 불가해 집니다</h5>
                        <h5>정말 티켓을 취소 하시겠습니까?</h5>
                        <p *ngIf="receive_user">{{t.receive_user.name}}</p>
                        <p *ngIf="receive_user">{{t.receive_user.mobile_number}}</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onCancel(selected_ticket._id)">취소</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>

        <nav aria-label="...">
          <ul class="pager">
            <li *ngIf="page!=1"><a (click)="onPrev()">이전</a></li>
            <li *ngIf="page*size<count"><a (click)="onNext()">다음</a></li>
          </ul>
        </nav>
      </div>

      <div *ngIf="!!!count">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></h1>
            <h4 class="text-center">검색결과가 존재하지 않습니다.</h4>
          </div>
        </div>
        <hr />
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
      <p class="text-right">TKIT - Host by <a href="http://rjkorea.com">RJ Korea Entertainment</a></p>
    </div>
  </div>
</div>
