<div class="row">
  <div class="col-md-6">
    <ng-template [ngIf]="checkRole()">
      <br>
      <div class="form-group">
        <!--<label for="content">Content</label>-->
        <select class="form-control" name="content" [(ngModel)]="content_oid" (ngModelChange)="changeContent()">
          <ng-container *ngFor="let c of contents">
            <option [ngValue]="c._id">{{c.name}} ({{c.company.name}})</option>
          </ng-container>
        </select>
      </div>
    </ng-template>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Tickets <span class="badge">{{count}}</span></h3>
  </div>
  <div class="panel-body">
    <div *ngIf="count">

      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="list-group">
            <div *ngFor="let ticket of tickets">
              <a *ngIf="ticket.status=='pend'" [routerLink]="['/ticket', ticket._id]" class="list-group-item disabled">
                <h4>
                  <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                  {{ticket.ticket_type.name}} {{ticket.ticket_type.day}} days
                  <span *ngIf="ticket.days[0].fee" class="glyphicon glyphicon-leaf">{{ticket.days[0].fee.price}}</span>
                  <span class="label label-default">전송준비</span>
                </h4>
              </a>
              <a *ngIf="ticket.status=='send'" [routerLink]="['/ticket', ticket._id]" class="list-group-item list-group-item-warning">
                <h4>
                  <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                  {{ticket.ticket_type.name}} {{ticket.ticket_type.day}} days
                  <span *ngIf="ticket.days[0].fee" class="glyphicon glyphicon-leaf">{{ticket.days[0].fee.price}}</span>
                  <span *ngIf="ticket.send_user">{{ticket.send_user.name}} <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> </span>
                  <strong *ngIf="ticket.receive_user">{{ticket.receive_user.name}}</strong>
                  <span class="label label-warning">전송중</span>
                </h4>
              </a>
              <a *ngIf="ticket.status=='register'" [routerLink]="['/ticket', ticket._id]" class="list-group-item list-group-item-success">
                <h4>
                  <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                  {{ticket.ticket_type.name}} {{ticket.ticket_type.day}} days
                  <span *ngIf="ticket.days[0].fee" class="glyphicon glyphicon-leaf">{{ticket.days[0].fee.price}}</span>
                  <span *ngIf="ticket.send_user">{{ticket.send_user.name}} <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> </span>
                  <strong *ngIf="ticket.receive_user">{{ticket.receive_user.name}}</strong>
                  <span class="label label-success">등록완료</span>
                </h4>
              </a>
              <a *ngIf="ticket.status=='use'" [routerLink]="['/ticket', ticket._id]" class="list-group-item list-group-item-info">
                <h4>
                  <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                  {{ticket.ticket_type.name}} {{ticket.ticket_type.day}} days
                  <span *ngIf="ticket.days[0].fee" class="glyphicon glyphicon-leaf">{{ticket.days[0].fee.price}}</span>
                  <span *ngIf="ticket.send_user">{{ticket.send_user.name}} <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> </span>
                  <strong *ngIf="ticket.receive_user">{{ticket.receive_user.name}}</strong>
                  <span *ngIf="ticket.days[0]">{{ticket.days[0].entered_at | amFromUnix | amDateFormat:'YYYY-MM-DD HH:mm:ss' | amTimeAgo}}</span>
                  <span class="label label-info">입장완료</span>
                </h4>
              </a>
              <a *ngIf="ticket.status=='cancel'" [routerLink]="['/ticket', ticket._id]" class="list-group-item list-group-item-danger">
                <h4>
                  <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                  {{ticket.ticket_type.name}} {{ticket.ticket_type.day}} days
                  <span *ngIf="ticket.days[0].fee" class="glyphicon glyphicon-leaf">{{ticket.days[0].fee.price}}</span>
                  <span *ngIf="ticket.send_user">{{ticket.send_user.name}} <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> </span>
                  <strong *ngIf="ticket.receive_user">{{ticket.receive_user.name}}</strong>
                  <span class="label label-danger">취소</span>
                </h4>
              </a>
            </div>
          </div>
        </div>
      </div>

      <nav aria-label="...">
        <ul class="pager">
          <li *ngIf="page!=1"><a (click)="onPrev()">Previous</a></li>
          <li *ngIf="page*size<count"><a (click)="onNext()">Next</a></li>
        </ul>
      </nav>
    </div>

    <div *ngIf="!!!count">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></h1>
          <h4 class="text-center">No results matched your search.</h4>
        </div>
      </div>
      <hr />
    </div>

  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
    <p class="text-right">TKIT - Admin by <a href="http://rjkorea.com">RJ Korea Entertainment</a></p>
  </div>
</div>
