<ng-template [ngIf]="is_loading">
  <app-loader></app-loader>
</ng-template>

<!--<div class="row">
  <div class="col-md-6">
    <ng-template [ngIf]="checkRole()">
      <br>
      <div class="form-group">
        <select class="form-control" name="content" [(ngModel)]="content_oid" (ngModelChange)="changeContent()">
          <ng-container *ngFor="let c of contents">
            <option [ngValue]="c._id">{{c.name}} ({{c.company.name}})</option>
          </ng-container>
        </select>
      </div>
    </ng-template>
  </div>
</div>-->

<div *ngIf="!is_loading">
  <div *ngIf="count">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a [routerLink]="['/ticket/type']">{{tickets[0].content.name}} {{tickets[0].ticket_type.name}}</a></li>
          <li><a [routerLink]="['/ticket/order', {ticket_type_oid: tickets[0].ticket_type._id}]">{{tickets[0].ticket_order.receiver.name}} {{tickets[0].ticket_order.qty}}장</a></li>
          <!--<li class="active">Orders</li>-->
        </ol>
        <h3>Tickets <span class="badge">{{count}}</span></h3>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <th>수정일시</th>
              <th>시리얼넘버</th>
              <th>티켓상태</th>
              <th>받은사람</th>
              <th>핸드폰번호</th>
              <th>생년월일</th>
              <th>성별</th>
              <th>이메일</th>
              <th></th>
            </tr>
            <tr *ngFor="let t of tickets">
              <td><a [routerLink]="['/ticket', t._id]">{{t.updated_at | amFromUnix | amDateFormat:'YYYY-MM-DD hh:mm:ss'}}</a></td>
              <td><span *ngIf="t.serial_number">{{t.serial_number}}</span></td>
              <td>
                <span *ngIf="t.status === 'pend'" class="label label-default">전송준비</span>
                <span *ngIf="t.status === 'send'" class="label label-warning">전송중</span>
                <span *ngIf="t.status === 'register'" class="label label-success">등록완료</span>
                <span *ngIf="t.status === 'use'" class="label label-info">입장완료</span>
                <span *ngIf="t.status === 'cancel'" class="label label-danger">취소</span>
              </td>
              <td><span *ngIf="t.receive_user"><a [routerLink]="['/user', t.receive_user._id]">{{t.receive_user.name}}</a></span></td>
              <td><span *ngIf="t.receive_user">{{t.receive_user.mobile_number}}</span></td>
              <td><span *ngIf="t.receive_user && t.receive_user.birthday">{{t.receive_user.birthday}}</span></td>
              <td><span *ngIf="t.receive_user && t.receive_user.gender">{{t.receive_user.gender}}</span></td>
              <td><span *ngIf="t.receive_user && t.receive_user.email">{{t.receive_user.email}}</span></td>
              <td>
                <button *ngIf="t.status === 'register' || t.status === 'send'" type="button" class="btn btn-default btn-sm" (click)="onCancel(t._id)">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"> 티켓취소</span>
                </button>
              </td>
            </tr>
          </table>
        </div>

        <nav aria-label="...">
          <ul class="pager">
            <li *ngIf="page!=1"><a (click)="onPrev()">Previous</a></li>
            <li *ngIf="page*size<count"><a (click)="onNext()">Next</a></li>
          </ul>
        </nav>
      </div>

      <div *ngIf="!!!count">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></h1>
            <h4 class="text-center">No results matched your search.</h4>
          </div>
        </div>
        <hr />
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
      <p class="text-right">TKIT - Admin by <a href="http://rjkorea.com">RJ Korea Entertainment</a></p>
    </div>
  </div>
</div>
