<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{content.name}} 티켓타입 만들기</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <select class="form-control" [(ngModel)]="ticket_type" (ngModelChange)="changeTicketType()">
          <ng-container *ngFor="let tt of ticket_types">
            <option [ngValue]="tt.value">{{tt.name}}</option>
          </ng-container>
        </select>
        <br>
        <form>
          <div class="form-group">
            <label for="name">티켓명 (필수)</label>
            <input type="text" class="form-control" cols="30" [(ngModel)]="type.name" name="name">
          </div>
          <div class="form-group">
            <label>설명</label> <input type="checkbox" [(ngModel)]="type.desc.enabled" name="desc.enabled">
            <textarea type="text" class="form-control" rows="3" cols="30" [(ngModel)]="type.desc.value" name="desc"></textarea>
          </div>
          <button type="button" class="btn btn-tkit-mint" [disabled]="disabledSubmit()" (click)="onSubmit()">만들기</button>
        </form>
      </div>
    </div>
  </div>
</div>
