<ng-template [ngIf]="is_loading">
  <app-loader></app-loader>
</ng-template>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <select class="form-control" name="content" [(ngModel)]="content_oid" (ngModelChange)="changeContent()">
        <ng-container *ngFor="let c of contents">
          <option [ngValue]="c._id">{{c.name}} ({{c.company.name}})</option>
        </ng-container>
      </select>
    </div>
  </div>
  <div class="col-md-5">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="이름, 설명" [(ngModel)]="query" name="query" (keyup.enter)="search()">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
    </div>
    <br>
  </div>
  <div class="col-md-1">
    <p><button class="btn btn-success" type="button" (click)="goNew()">티켓타입 만들기</button></p>
  </div>
</div>

<ng-template [ngIf]="!is_loading">
  <div *ngIf="count">
    <div class="row">
      <div class="col-md-12">
        <h3>티켓타입 <span class="badge">{{count}}</span></h3>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <th></th>
              <th>타입</th>
              <th>티켓명</th>
              <th>설명</th>
              <th>설명노출</th>
              <th>생성일시</th>
            </tr>
            <tr *ngFor="let t of types">
              <td>
                <button class="btn btn-default btn-sm" type="button" (click)="onOrder(t._id)">
                  티켓오더
                  <span class="badge">{{t.ticket_order_cnt}}</span>
                </button>
              </td>
              <td>
                <span *ngIf="t.type === 'general'" class="label label-success">일반티켓</span>
                <span *ngIf="t.type === 'network'" class="label label-primary">네트워크티켓</span>
              </td>
              <td><a [routerLink]="['/ticket/type', t._id]">{{t.name | slice: 0:50}}</a></td>
              <td>{{t.desc.value | slice: 0:70}}</td>
              <td>
                <input type="checkbox" [(ngModel)]="t.desc.enabled" name="desc.enabled" [disabled]=true>
              </td>
              <td>{{t.created_at | amFromUnix | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <nav aria-label="...">
      <ul class="pager">
        <li *ngIf="page!=1"><a (click)="onPrev()">이전</a></li>
        <li *ngIf="page*size<count"><a (click)="onNext()">다음</a></li>
      </ul>
    </nav>
  </div>

  <div *ngIf="!!!count">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></h1>
        <h4 class="text-center">검색결과가 존재하지 않습니다.</h4>
      </div>
    </div>
    <hr />
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
      <p class="text-right">TKIT - Host by <a href="http://rjkorea.com">RJ Korea Entertainment</a></p>
    </div>
  </div>
</ng-template>
