<ng-template [ngIf]="is_loading">
  <app-loader></app-loader>
</ng-template>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <select class="form-control" name="content" [(ngModel)]="content_oid" (ngModelChange)="changeContent()">
        <ng-container *ngFor="let c of contents">
          <option [ngValue]="c._id">{{c.name}} ({{c.company.name}})</option>
        </ng-container>
      </select>
    </div>
  </div>
  <div class="col-md-5">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="이름, 설명" [(ngModel)]="query" name="query" (keyup.enter)="search()">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
    </div>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <p><button class="btn btn-tkit-mint btn-lg" type="button" (click)="goNew()">티켓 만들기</button></p>
  </div>
</div>

<ng-template [ngIf]="!is_loading">
  <div *ngIf="count">
    <div class="row">
      <div class="col-md-12">
        <h3>티켓 <span class="badge">{{count}}</span></h3>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <th></th>
              <th>티켓종류</th>
              <th>티켓가격</th>
              <th>티켓명</th>
              <th>티켓설명</th>
              <th>설명노출</th>
              <th>티켓유효일시기한</th>
              <th>생성일시</th>
              <th></th>
            </tr>
            <tr *ngFor="let t of types">
              <td>
                <button class="btn btn-default btn-sm" type="button" (click)="onOrder(t._id)">
                  티켓전송
                  <span class="badge">{{t.ticket_order_cnt}}</span>
                </button>
              </td>
              <td>
                <span *ngIf="t.price === 0" class="label label-tkit-mint">무료티켓</span>
                <span *ngIf="t.price > 0" class="label label-tkit-coral">유료티켓</span>
              </td>
              <td>
                <span *ngIf="t.price > 0">{{t.price | currency: 'KRW': true: '0.0-0'}}</span>
              </td>
              <td><a [routerLink]="['/ticket/type', t._id]">{{t.name | slice: 0:20}}</a></td>
              <td>{{t.desc.value | slice: 0:30}}</td>
              <td>
                <input type="checkbox" [(ngModel)]="t.desc.enabled" name="desc.enabled" [disabled]=true>
              </td>
              <td>{{t.expiry_date | amFromUnix | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</td>
              <td>{{t.created_at | amFromUnix | amDateFormat:'YYYY-MM-DD HH:mm:ss' | amTimeAgo: true}} 전</td>
              <td>
                <span *ngIf="t.color && t.color.name==='tkit-mint'" class="tkit-mint-bg tkit-mint-color">컬러샘플</span>
                <span *ngIf="t.color && t.color.name==='tkit-coral'" class="tkit-coral-bg tkit-coral-color">컬러샘플</span>
                <span *ngIf="t.color && t.color.name==='hangang-blue'" class="hangang-blue-bg hangang-blue-color">컬러샘플</span>
                <span *ngIf="t.color && t.color.name==='ultra-bora'" class="ultra-bora-bg ultra-bora-color">컬러샘플</span>
                <span *ngIf="t.color && t.color.name==='mustard-norang'" class="mustard-norang-bg mustard-norang-color">컬러샘플</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <nav aria-label="...">
      <ul class="pager">
        <li *ngIf="page!=1"><a (click)="onPrev()">이전</a></li>
        <li *ngIf="page*size<count"><a (click)="onNext()">다음</a></li>
      </ul>
    </nav>
  </div>

  <div *ngIf="!!!count">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></h1>
        <h4 class="text-center">검색결과가 존재하지 않습니다.</h4>
      </div>
    </div>
    <hr />
  </div>

</ng-template>
