<div class="row">
  <div *ngIf="is_mobile" class="col-md-4">
    <div class="thumbnail">
      <img src="../../../assets/images/ticket_type_guide.png" alt="티켓 타입 만들기 가이드">
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{content.name}} 티켓타입 만들기</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="name">티켓 이름</label> <span class="length-check">{{input_name.length}} / {{input_name.max}}</span>
          <input #name type="text" class="form-control" cols="30" [(ngModel)]="type.name" name="name" (keyup)="onNameKeyup(name.value)">
        </div>
        <div class="form-group"> <span class="length-check">{{input_desc.length}} / {{input_desc.max}}</span>
          <label>티켓 설명</label> <input type="checkbox" [(ngModel)]="type.desc.enabled" name="desc.enabled">
          <textarea #desc type="text" class="form-control" rows="3" cols="30" [(ngModel)]="type.desc.value" name="desc" (keyup)="onDescKeyup(desc.value)"></textarea>
        </div>
        <div class="form-group">
          <h4>유효기간 일시: {{type.expiry_date | amDateFormat:'YYYY-MM-DD HH:mm:00'}}</h4>
          <owl-date-time-inline [(ngModel)]="type.expiry_date"></owl-date-time-inline>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" [checked]="is_free" (change)="is_free = !is_free"> 무료티켓 (선택)
            </label>
          </div>
          <div *ngIf="!is_free" class="form-group">
            <label for="ticket-price">티켓 가격</label>
            <input type="number" class="form-control" name="ticket-price" [(ngModel)]="price">
          </div>
        </div>
        <button type="button" class="btn btn-tkit-mint" [disabled]="disabledSubmit()" (click)="onDone()">완료</button>
      </div>
    </div>
  </div>
  <div *ngIf="!is_mobile" class="col-md-4">
    <div class="thumbnail">
      <img src="../../../assets/images/ticket_type_guide.png" alt="티켓 타입 만들기 가이드">
    </div>
  </div>
</div>
